In [25]:
"""Hypothesis: Prices of housing went up post-covid"""


import geopy as gp
from geopy import distance
import pandas as pd
import numpy as np

In [2]:
fn='/Users/mlid/Downloads/londonCoors.xlsx'

In [3]:
url_LondonHousePrices = "https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls"

properties = pd.read_excel(url_LondonHousePrices, sheet_name='Average price', index_col= None)

In [4]:
df = pd.read_excel(fn)

In [5]:
print(df.head())

      Borough         Co-ordinates  Number
0  Hillingdon  51.5441°N, 0.4760°W      33
1      Harrow   51.5898°N 0.3346°W      32
2      Barnet   51.6252°N 0.1517°W      31
3     Enfield   51.6538°N 0.0799°W      30
4    Haringey   51.6000°N 0.1119°W      29

In [6]:
df=df.set_index('Number')

In [7]:
df=df.sort_index(ascending=True)

In [8]:
df

                     Borough         Co-ordinates
Number
1             City of London   51.5155°N 0.0922°W
2                Westminster   51.4973°N 0.1372°W
3       Kensington & Chelsea   51.5020°N 0.1947°W
4       Hammersmith & Fulham   51.4927°N 0.2339°W
5                 Wandsworth   51.4567°N 0.1910°W
6                    Lambeth   51.4607°N 0.1163°W
7                  Southwark   51.5035°N 0.0804°W
8              Tower Hamlets   51.5099°N 0.0059°W
9                    Hackney   51.5450°N 0.0553°W
10                 Islington   51.5416°N 0.1022°W
11                    Camden   51.5290°N 0.1255°W
12                     Brent   51.5588°N 0.2817°W
13                    Ealing   51.5130°N 0.3089°W
14                  Hounslow   51.4746°N 0.3680°W
15      Richmond upon Thames   51.4479°N 0.3260°W
16      Kingston upon Thames   51.4085°N 0.3064°W
17                    Merton   51.4014°N 0.1958°W
18                    Sutton   51.3618°N 0.1945°W
19                   Croydon   51.3714°N 0.0977°W
20                   Bromley   51.4039°N 0.0198°E
21                  Lewisham   51.4452°N 0.0209°W
22                 Greenwich   51.4892°N 0.0648°E
23                    Bexley   51.4549°N 0.1505°E
24                  Havering   51.5812°N 0.1837°E
25        Barking & Dagenham   51.5607°N 0.1557°E
26                 Redbridge   51.5590°N 0.0741°E
27                    Newham   51.5077°N 0.0469°E
28            Waltham Forest   51.5908°N 0.0134°W
29                  Haringey   51.6000°N 0.1119°W
30                   Enfield   51.6538°N 0.0799°W
31                    Barnet   51.6252°N 0.1517°W
32                    Harrow   51.5898°N 0.3346°W
33                Hillingdon  51.5441°N, 0.4760°W

In [9]:
london=df.iloc[0,1]

In [10]:
df['points']=df['Co-ordinates'].apply(lambda p: gp.Point(p))

In [11]:
df['distFromLon (km)']=df['points'].apply(lambda p: gp.distance.geodesic(p,london).km)

In [12]:
df['Borough']

Number
1           City of London
2              Westminster
3     Kensington & Chelsea
4     Hammersmith & Fulham
5               Wandsworth
6                  Lambeth
7                Southwark
8            Tower Hamlets
9                  Hackney
10               Islington
11                  Camden
12                   Brent
13                  Ealing
14                Hounslow
15    Richmond upon Thames
16    Kingston upon Thames
17                  Merton
18                  Sutton
19                 Croydon
20                 Bromley
21                Lewisham
22               Greenwich
23                  Bexley
24                Havering
25      Barking & Dagenham
26               Redbridge
27                  Newham
28          Waltham Forest
29                Haringey
30                 Enfield
31                  Barnet
32                  Harrow
33              Hillingdon
Name: Borough, dtype: object

In [13]:
dT=properties.T
dT=dT.rename(index={'Unnamed: 0': 'London_Borough'})
dTlocs=dT.index
dTcols=list(dT.columns.values)
dT.index=(dT[0])
dT[0]=dTlocs
dT.dropna()
relevantBs=dT[1:33]

In [14]:
relevantBs=relevantBs.set_index(0)

In [15]:
t2=df.merge(relevantBs,left_on='Borough',right_on=0,how='inner')

In [16]:
t2

,Borough,Co-ordinates,points,distFromLon (km),1,2,3,4,5,6,...,336,337,338,339,340,341,342,343,344,345
0,City of London,51.5155°N 0.0922°W,"51 30m 55.8s N, 0 5m 31.92s W",0.000000,91448.98487,82202.77314,79120.70256,77101.20804,84409.14932,94900.51244,...,975240,963094,869039,930986,903718,958418,951649,931176,861107,807475
1,Kensington & Chelsea,51.5020°N 0.1947°W,"51 30m 7.2s N, 0 11m 40.92s W",7.273068,182694.8326,182345.2463,182878.8231,184176.9168,191474.1141,197265.7602,...,1305382,1356424,1332696,1364904,1330033,1339650,1362492,1350811,1355950,1203055
2,Hammersmith & Fulham,51.4927°N 0.2339°W,"51 29m 33.72s N, 0 14m 2.04s W",10.160583,124902.8602,122087.718,120635.9467,121424.6241,124433.539,126175.1513,...,741669,768573,766407,781553,767511,792923,792127,801716,781072,797211
3,Wandsworth,51.4567°N 0.1910°W,"51 27m 24.12s N, 0 11m 27.6s W",9.481306,88559.04381,88641.01678,87124.81523,87026.00225,86518.05945,88114.3351,...,630568,630541,631835,625151,618574,618394,620574,623608,627230,637929
4,Lambeth,51.4607°N 0.1163°W,"51 27m 38.52s N, 0 6m 58.68s W",6.322540,67770.98843,65381.51908,66336.51868,66388.7716,69035.11076,68881.15764,...,550848,550491,551812,555124,556928,551514,540222,548939,561066,579990
5,Southwark,51.5035°N 0.0804°W,"51 30m 12.6s N, 0 4m 49.44s W",1.566402,67885.20344,64799.0648,65763.29719,63073.62117,64420.49933,64155.81449,...,554930,556336,541437,529503,518402,527497,536332,541457,541633,549329
6,Tower Hamlets,51.5099°N 0.0059°W,"51 30m 35.64s N, 0 0m 21.24s W",6.023360,59865.18995,62318.53353,63938.67686,66233.19383,66432.85846,66232.16372,...,488538,488206,490788,485043,485680,485554,479768,470178,474562,509454
7,Hackney,51.5450°N 0.0553°W,"51 32m 42s N, 0 3m 19.08s W",4.162848,61296.52637,63187.08332,63593.29935,65139.64403,66193.99212,66921.17101,...,622524,620395,614259,632267,630722,645012,644872,652928,634511,613851
8,Islington,51.5416°N 0.1022°W,"51 32m 29.76s N, 0 6m 7.92s W",2.985616,92516.48557,94342.37334,93465.86407,93344.49305,94346.39917,97428.94311,...,703076,697637,684105,686207,697986,714112,709118,712710,713652,718622
9,Camden,51.5290°N 0.1255°W,"51 31m 44.4s N, 0 7m 31.8s W",2.756412,120932.8881,119508.8622,120282.2131,120097.899,119929.2782,121887.4625,...,854762,858942,870793,855810,879927,859267,871822,838994,854042,810578
10,Brent,51.5588°N 0.2817°W,"51 33m 31.68s N, 0 16m 54.12s W",14.003046,71306.56698,72022.26197,72015.76274,72965.63094,73704.04743,74310.48167,...,552767,551093,534129,525561,523992,524452,531478,531425,557552,565929
11,Ealing,51.5130°N 0.3089°W,"51 30m 46.8s N, 0 18m 32.04s W",15.045632,79885.89069,80897.06551,81379.86288,82188.90498,82077.05525,81630.66181,...,531259,531246,535352,522437,522810,522224,529437,535675,543218,554377
12,Hounslow,51.4746°N 0.3680°W,"51 28m 28.56s N, 0 22m 4.8s W",19.686870,72231.70537,71051.55852,72097.99411,71890.28339,72877.47219,72331.08116,...,450071,459021,461884,458012,455719,443659,451511,448476,465304,475965
13,Richmond upon Thames,51.4479°N 0.3260°W,"51 26m 52.44s N, 0 19m 33.6s W",17.898541,109326.1245,111103.0394,107325.4742,106875,107707.6799,112865.0542,...,737710,744659,754802,749470,744098,745338,753772,761294,764403,756317
14,Kingston upon Thames,51.4085°N 0.3064°W,"51 24m 30.6s N, 0 18m 23.04s W",19.061098,80875.84843,81230.13524,81111.48848,81672.80476,82123.51084,82205.66822,...,555429,553716,550985,552035,545735,545060,543533,542446,547161,542014
15,Merton,51.4014°N 0.1958°W,"51 24m 5.04s N, 0 11m 44.88s W",14.594407,82070.6133,79982.74872,80661.68279,79990.54333,80873.98643,80704.92667,...,573550,568827,571555,574425,579859,573265,574782,579300,588418,587927
16,Sutton,51.3618°N 0.1945°W,"51 21m 42.48s N, 0 11m 40.2s W",18.520635,71536.97357,70893.20851,70306.83844,69411.9439,69759.21989,70125.24728,...,438912,442920,438325,436795,433494,429422,427012,426048,429898,437958
17,Croydon,51.3714°N 0.0977°W,"51 22m 17.04s N, 0 5m 51.72s W",16.036658,69158.16225,68951.09542,68712.44341,68610.04641,68844.9169,69052.51103,...,429078,431797,428317,420441,412059,408859,406086,409938,416583,430541
18,Bromley,51.4039°N 0.0198°E,"51 24m 14.04s N, 0 1m 11.28s E",14.654617,81671.47692,81657.55944,81449.31143,81124.41227,81542.61561,82382.83435,...,512263,508434,500974,495896,497632,496393,497841,503888,509263,502753
19,Lewisham,51.4452°N 0.0209°W,"51 26m 42.72s N, 0 1m 15.24s W",9.257906,60491.26109,60869.27091,60288.03002,59471.03136,58551.38387,58041.43543,...,467971,465064,463370,453897,454909,443829,447880,457886,468652,483377
20,Greenwich,51.4892°N 0.0648°E,"51 29m 21.12s N, 0 3m 53.28s E",11.287462,62300.10169,60993.26863,61377.83464,61927.7246,63512.99103,64751.56404,...,435349,438148,442511,441405,429164,413052,413383,426660,442438,445801
21,Bexley,51.4549°N 0.1505°E,"51 27m 17.64s N, 0 9m 1.8s E",18.156865,64958.09036,64787.92069,64367.49344,64277.66881,63997.13588,64252.32335,...,409059,402365,403398,399796,398544,391077,390880,396718,396278,396292
22,Havering,51.5812°N 0.1837°E,"51 34m 52.32s N, 0 11m 1.32s E",20.486773,68000.13774,69393.51294,69368.02407,69444.26215,68534.52248,68464.60664,...,436325,434192,432471,425137,424627,420144,420595,423756,423957,428316
23,Barking & Dagenham,51.5607°N 0.1557°E,"51 33m 38.52s N, 0 9m 20.52s E",17.920031,50460.2266,51085.77983,51268.96956,53133.50526,53042.24852,53700.34831,...,355596,353429,346193,345288,348254,349590,346099,343430,344171,345614
24,Redbridge,51.5590°N 0.0741°E,"51 33m 32.4s N, 0 4m 26.76s E",12.512434,72189.58437,72141.6261,72501.35502,72228.60295,72366.64122,72279.4325,...,484951,483179,474596,470836,464362,459017,451693,457820,482993,504869
25,Newham,51.5077°N 0.0469°E,"51 30m 27.72s N, 0 2m 48.84s E",9.695637,53539.31919,53153.88306,53458.26393,54479.75395,55803.95958,56067.76986,...,422019,422196,413827,402397,404394,408068,413531,409382,409930,415168
26,Waltham Forest,51.5908°N 0.0134°W,"51 35m 26.88s N, 0 0m 48.24s W",10.002977,61319.44913,60252.12246,60871.08493,60971.39722,61494.16938,61547.79643,...,516234,509991,512575,505682,507509,497809,499730,494572,501681,510471
27,Haringey,51.6000°N 0.1119°W,"51 36m 5.11591e-12s N, 0 6m 42.84s W",9.500136,76287.56947,78901.21036,78521.94855,79545.57477,79374.0349,79956.3621,...,604603,609434,597184,594035,586121,596786,607413,610682,609320,623771
28,Enfield,51.6538°N 0.0799°W,"51 39m 13.68s N, 0 4m 47.64s W",15.410781,72514.69096,73155.19746,72190.44144,71442.92235,70630.77955,71348.31147,...,458211,449185,442881,437499,435914,437067,436020,441312,445720,454410
29,Barnet,51.6252°N 0.1517°W,"51 37m 30.72s N, 0 9m 6.12s W",12.883466,93284.51832,93190.16963,92247.52435,90762.87492,90258.00033,90107.23471,...,592328,596085,602336,596064,587132,575141,575829,583479,597591,584740
30,Harrow,51.5898°N 0.3346°W,"51 35m 23.28s N, 0 20m 4.56s W",18.735296,84769.52599,83396.10525,83416.23759,83567.88439,83853.65615,84173.24689,...,528211,527440,520605,512995,500524,498667,499469,505091,507948,520995
31,Hillingdon,"51.5441°N, 0.4760°W","51 32m 38.76s N, 0 28m 33.6s W",26.823259,73834.82964,75031.0696,74188.66949,73911.40591,73117.12416,74005.00585,...,466328,461726,459331,455211,453470,450341,452308,452683,457856,455107

In [17]:
dfa=pd.DataFrame(index=relevantBs.index)

In [18]:
dfa

Empty DataFrame
Columns: []
Index: [City of London, Barking & Dagenham, Barnet, Bexley, Brent, Bromley, Camden, Croydon, Ealing, Enfield, Greenwich, Hackney, Hammersmith & Fulham, Haringey, Harrow, Havering, Hillingdon, Hounslow, Islington, Kensington & Chelsea, Kingston upon Thames, Lambeth, Lewisham, Merton, Newham, Redbridge, Richmond upon Thames, Southwark, Sutton, Tower Hamlets, Waltham Forest, Wandsworth]

In [19]:
colDf=lambda i : relevantBs[i]-relevantBs[i-1]

In [20]:
relevantBs.head()

,1,2,3,4,5,6,7,8,9,10,...,336,337,338,339,340,341,342,343,344,345
0,,,,,,,,,,,,,,,,,,,,,
City of London,91448.98487,82202.77314,79120.70256,77101.20804,84409.14932,94900.51244,110128.0423,112329.4376,104473.1096,108038.1181,...,975240,963094,869039,930986,903718,958418,951649,931176,861107,807475
Barking & Dagenham,50460.2266,51085.77983,51268.96956,53133.50526,53042.24852,53700.34831,52113.12157,52232.19868,51471.61353,51513.7576,...,355596,353429,346193,345288,348254,349590,346099,343430,344171,345614
Barnet,93284.51832,93190.16963,92247.52435,90762.87492,90258.00033,90107.23471,91441.24768,92361.31512,93273.12245,92567.38498,...,592328,596085,602336,596064,587132,575141,575829,583479,597591,584740
Bexley,64958.09036,64787.92069,64367.49344,64277.66881,63997.13588,64252.32335,63722.70055,64432.60005,64509.54767,64529.93725,...,409059,402365,403398,399796,398544,391077,390880,396718,396278,396292
Brent,71306.56698,72022.26197,72015.76274,72965.63094,73704.04743,74310.48167,74127.03788,73547.0411,73789.54287,73264.05385,...,552767,551093,534129,525561,523992,524452,531478,531425,557552,565929

In [21]:
##Calculates MoM average price.

tmpDf=[]
for i in range(2,relevantBs.shape[1]+1):
    tmpDf.append(colDf(i))
    
tmpDf=pd.concat(tmpDf,axis=1)

In [37]:
np.max(a1c[343])

1020360.1674000002

In [33]:
print(a1c)

                             0            1            2           3    \
0
City of London       -9246.21173 -12328.28231 -14347.77683 -7039.83555
Barking & Dagenham     625.55323    808.74296   2673.27866  2582.02192
Barnet                 -94.34869  -1036.99397   -2521.6434 -3026.51799
Bexley                -170.16967   -590.59692   -680.42155  -960.95448
Brent                  715.69499    709.19576   1659.06396  2397.48045
Bromley                -13.91748   -222.16549   -547.06465  -128.86131
Camden                -1424.0259     -650.675    -834.9891  -1003.6099
Croydon               -207.06683   -445.71884   -548.11584  -313.24535
Ealing                1011.17482   1493.97219   2303.01429  2191.16456
Enfield                 640.5065   -324.24952  -1071.76861 -1883.91141
Greenwich            -1306.83306   -922.26705   -372.37709  1212.88934
Hackney               1890.55695   2296.77298   3843.11766  4897.46575
Hammersmith & Fulham  -2815.1422   -4266.9135   -3478.2361   -469.3212
Haringey              2613.64089   2234.37908    3258.0053  3086.46543
Harrow               -1373.42074   -1353.2884   -1201.6416  -915.86984
Havering               1393.3752   1367.88633   1444.12441   534.38474
Hillingdon            1196.23996    353.83985     76.57627  -717.70548
Hounslow             -1180.14685   -133.71126   -341.42198   645.76682
Islington             1825.88777     949.3785    828.00748   1829.9136
Kensington & Chelsea   -349.5863     183.9905    1482.0842   8779.2815
Kingston upon Thames   354.28681    235.64005    796.95633  1247.66241
Lambeth              -2389.46935  -1434.46975  -1382.21683  1264.12233
Lewisham               378.00982   -203.23107  -1020.22973 -1939.87722
Merton               -2087.86458  -1408.93051  -2080.06997 -1196.62687
Newham                -385.43613    -81.05526    940.43476  2264.64039
Redbridge              -47.95827    311.77065     39.01858   177.05685
Richmond upon Thames   1776.9149   -2000.6503   -2451.1245  -1618.4446
Southwark            -3086.13864  -2121.90625  -4811.58227 -3464.70411
Sutton                -643.76506  -1230.13513  -2125.02967 -1777.75368
Tower Hamlets         2453.34358   4073.48691   6368.00388  6567.66851
Waltham Forest       -1067.32667    -448.3642   -348.05191   174.72025
Wandsworth              81.97297  -1434.22858  -1533.04156 -2040.98436

                             4            5            6            7    \
0
City of London        3451.52757  18679.05743  20880.45273  13024.12473
Barking & Dagenham    3240.12171   1652.89497   1771.97208   1011.38693
Barnet               -3177.28361  -1843.27064    -923.2032    -11.39587
Bexley                -705.76701  -1235.38981   -525.49031   -448.54269
Brent                 3003.91469    2820.4709   2240.47412   2482.97589
Bromley                711.35743   1227.04572    382.89464   -231.04684
Camden                  954.5744    3094.6887    4596.9158     -336.037
Croydon               -105.65122    -15.68113    -164.7368    235.33798
Ealing                1744.77112   2466.33191   2820.76858   2125.19202
Enfield              -1166.37949   -677.15085   -276.74534   -789.46992
Greenwich             2451.46235   3186.23943   2776.33026   1696.71356
Hackney               5624.64464   7094.22663   6800.26748   7455.97647
Hammersmith & Fulham   1272.2911    -521.3468   -1277.5406   -1808.8118
Haringey              3668.79263   4458.77934   4930.12127   5855.32105
Harrow                 -596.2791   -542.82755   -338.90803  -1162.54736
Havering                464.4689    680.70222   1023.22708    108.04826
Hillingdon             170.17621    836.30299    1133.0357      8.72275
Hounslow                99.37579   1486.08307   2248.24265   2194.95553
Islington             4912.45754    6459.6552   6434.72234   7066.15221
Kensington & Chelsea  14570.9276   15268.4843   15342.5892   14353.0007
Kingston upon Thames  1329.81979   1649.94457   2466.99709   4235.11992
Lambeth               1110.16921   1837.73399   1069.03984   2384.83154
Lewisham             -2449.82566  -2364.88298  -2339.94569  -1748.27075
Merton               -1365.68663  -1014.70995  -1289.52144  -1245.91255
Newham                2528.45067   1918.99774   1170.03548   1046.18445
Redbridge               89.84813    691.25537   1085.58454   1014.43936
Richmond upon Thames   3538.9297    5330.4766    2994.2851    1098.4458
Southwark            -3729.38895   -860.45577   -2359.2591  -4418.19396
Sutton               -1411.72629   -747.40073  -1578.55439  -1599.57143
Tower Hamlets         6366.97377   4827.03677   3607.08563    2312.4044
Waltham Forest          228.3473    614.07825    596.97307    228.70293
Wandsworth            -444.70871   1271.54553   2001.63697   2814.65459

                              8            9    ...           334  \
0                                               ...
City of London        16589.13323  26186.62913  ...  883791.01513
Barking & Dagenham       1053.531    388.45127  ...   305135.7734
Barnet                 -717.13334  -2401.35707  ...  499043.48168
Bexley                 -428.15311  -1112.05666  ...  344100.90964
Brent                  1957.48687    1475.4383  ...  481460.43302
Bromley                 190.68395    886.29858  ...  430591.52308
Camden                 -3474.3959   -5514.0485  ...   733829.1119
Croydon                -223.54991   -278.41591  ...  359919.83775
Ealing                  636.76985   -613.54451  ...  451373.10931
Enfield                -165.55352   -526.82227  ...  385696.30904
Greenwich               1105.1643    1443.9283  ...  373048.89831
Hackney                6323.12415    5941.1019  ...  561227.47363
Hammersmith & Fulham   -1460.3002   -2972.8167  ...   616766.1398
Haringey                5503.9129   4841.98944  ...  528315.43053
Harrow                -2276.79717  -2523.79138  ...  443441.47401
Havering               -574.49883  -1818.34341  ...  368324.86226
Hillingdon             -842.32805  -2074.73698  ...  392493.17036
Hounslow                1411.4349    815.66498  ...  377839.29463
Islington              5063.90116    2513.9796  ...  610559.51443
Kensington & Chelsea   17310.9982   16980.1307  ...  1122687.1674
Kingston upon Thames    4851.1263   3681.57151  ...  474553.15157
Lambeth                1845.19846    283.25778  ...  483077.01157
Lewisham              -2418.12093  -2416.64098  ...  407479.73891
Merton                -2501.38435  -2157.83115  ...   491479.3867
Newham                 1250.23585    784.64397  ...  368479.68081
Redbridge                727.8871    204.07031  ...  412761.41563
Richmond upon Thames    -919.4239    -196.2485  ...   628383.8755
Southwark             -6999.21861  -6159.85802  ...  487044.79656
Sutton                -1573.20799    -928.5983  ...  367375.02643
Tower Hamlets           2201.2614   2549.08588  ...  428672.81005
Waltham Forest         -746.87877    223.62947  ...  454914.55087
Wandsworth             1687.36563    916.97398  ...  542008.95619

                               335           336           337           338  \
0
City of London        871645.01513  777590.01513  839537.01513  812269.01513
Barking & Dagenham     302968.7734   295732.7734   294827.7734   297793.7734
Barnet                502800.48168  509051.48168  502779.48168  493847.48168
Bexley                337406.90964  338439.90964  334837.90964  333585.90964
Brent                 479786.43302  462822.43302  454254.43302  452685.43302
Bromley               426762.52308  419302.52308  414224.52308  415960.52308
Camden                 738009.1119   749860.1119   734877.1119   758994.1119
Croydon               362638.83775  359158.83775  351282.83775  342900.83775
Ealing                451360.10931  455466.10931  442551.10931  442924.10931
Enfield               376670.30904  370366.30904  364984.30904  363399.30904
Greenwich             375847.89831  380210.89831  379104.89831  366863.89831
Hackney               559098.47363  552962.47363  570970.47363  569425.47363
Hammersmith & Fulham   643670.1398   641504.1398   656650.1398   642608.1398
Haringey              533146.43053  520896.43053  517747.43053  509833.43053
Harrow                442670.47401  435835.47401  428225.47401  415754.47401
Havering              366191.86226  364470.86226  357136.86226  356626.86226
Hillingdon            387891.17036  385496.17036  381376.17036  379635.17036
Hounslow              386789.29463  389652.29463  385780.29463  383487.29463
Islington             605120.51443  591588.51443  593690.51443  605469.51443
Kensington & Chelsea  1173729.1674  1150001.1674  1182209.1674  1147338.1674
Kingston upon Thames  472840.15157  470109.15157  471159.15157  464859.15157
Lambeth               482720.01157  484041.01157  487353.01157  489157.01157
Lewisham              404572.73891  402878.73891  393405.73891  394417.73891
Merton                 486756.3867   489484.3867   492354.3867   497788.3867
Newham                368656.68081  360287.68081  348857.68081  350854.68081
Redbridge             410989.41563  402406.41563  398646.41563  392172.41563
Richmond upon Thames   635332.8755   645475.8755   640143.8755   634771.8755
Southwark             488450.79656  473551.79656  461617.79656  450516.79656
Sutton                371383.02643  366788.02643  365258.02643  361957.02643
Tower Hamlets         428340.81005  430922.81005  425177.81005  425814.81005
Waltham Forest        448671.55087  451255.55087  444362.55087  446189.55087
Wandsworth            541981.95619  543275.95619  536591.95619  530014.95619

                               339           340           341           342  \
0
City of London        866969.01513  860200.01513  839727.01513  769658.01513
Barking & Dagenham     299129.7734   295638.7734   292969.7734   293710.7734
Barnet                481856.48168  482544.48168  490194.48168  504306.48168
Bexley                326118.90964  325921.90964  331759.90964  331319.90964
Brent                 453145.43302  460171.43302  460118.43302  486245.43302
Bromley               414721.52308  416169.52308  422216.52308  427591.52308
Camden                 738334.1119   750889.1119   718061.1119   733109.1119
Croydon               339700.83775  336927.83775  340779.83775  347424.83775
Ealing                442338.10931  449551.10931  455789.10931  463332.10931
Enfield               364552.30904  363505.30904  368797.30904  373205.30904
Greenwich             350751.89831  351082.89831  364359.89831  380137.89831
Hackney               583715.47363  583575.47363  591631.47363  573214.47363
Hammersmith & Fulham   668020.1398   667224.1398   676813.1398   656169.1398
Haringey              520498.43053  531125.43053  534394.43053  533032.43053
Harrow                413897.47401  414699.47401  420321.47401  423178.47401
Havering              352143.86226  352594.86226  355755.86226  355956.86226
Hillingdon            376506.17036  378473.17036  378848.17036  384021.17036
Hounslow              371427.29463  379279.29463  376244.29463  393072.29463
Islington             621595.51443  616601.51443  620193.51443  621135.51443
Kensington & Chelsea  1156955.1674  1179797.1674  1168116.1674  1173255.1674
Kingston upon Thames  464184.15157  462657.15157  461570.15157  466285.15157
Lambeth               483743.01157  472451.01157  481168.01157  493295.01157
Lewisham              383337.73891  387388.73891  397394.73891  408160.73891
Merton                 491194.3867   492711.3867   497229.3867   506347.3867
Newham                354528.68081  359991.68081  355842.68081  356390.68081
Redbridge             386827.41563  379503.41563  385630.41563  410803.41563
Richmond upon Thames   636011.8755   644445.8755   651967.8755   655076.8755
Southwark             459611.79656  468446.79656  473571.79656  473747.79656
Sutton                357885.02643  355475.02643  354511.02643  358361.02643
Tower Hamlets         425688.81005  419902.81005  410312.81005  414696.81005
Waltham Forest        436489.55087  438410.55087  433252.55087  440361.55087
Wandsworth            529834.95619  532014.95619  535048.95619  538670.95619

                               343
0
City of London        716026.01513
Barking & Dagenham     295153.7734
Barnet                491455.48168
Bexley                331333.90964
Brent                 494622.43302
Bromley               421081.52308
Camden                 689645.1119
Croydon               361382.83775
Ealing                474491.10931
Enfield               381895.30904
Greenwich             383500.89831
Hackney               552554.47363
Hammersmith & Fulham   672308.1398
Haringey              547483.43053
Harrow                436225.47401
Havering              360315.86226
Hillingdon            381272.17036
Hounslow              403733.29463
Islington             626105.51443
Kensington & Chelsea  1020360.1674
Kingston upon Thames  461138.15157
Lambeth               512219.01157
Lewisham              422885.73891
Merton                 505856.3867
Newham                361628.68081
Redbridge             432679.41563
Richmond upon Thames   646990.8755
Southwark             481443.79656
Sutton                366421.02643
Tower Hamlets         449588.81005
Waltham Forest        449151.55087
Wandsworth            549369.95619

[32 rows x 344 columns]