In [1]:
"""Hypothesis: Prices of housing went up post-covid"""


import geopy as gp
from geopy import distance
import pandas as pd
import numpy as np

In [2]:
fn='/Users/mlid/Downloads/londonCoors.xlsx'

In [3]:
url_LondonHousePrices = "https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls"

properties = pd.read_excel(url_LondonHousePrices, sheet_name='Average price', index_col= None)

In [4]:
df = pd.read_excel(fn)

In [5]:
print(df.head())

      Borough         Co-ordinates  Number
0  Hillingdon  51.5441°N, 0.4760°W      33
1      Harrow   51.5898°N 0.3346°W      32
2      Barnet   51.6252°N 0.1517°W      31
3     Enfield   51.6538°N 0.0799°W      30
4    Haringey   51.6000°N 0.1119°W      29

In [6]:
df=df.set_index('Number')

In [7]:
df=df.sort_index(ascending=True)

In [8]:
df

                     Borough         Co-ordinates
Number
1             City of London   51.5155°N 0.0922°W
2                Westminster   51.4973°N 0.1372°W
3       Kensington & Chelsea   51.5020°N 0.1947°W
4       Hammersmith & Fulham   51.4927°N 0.2339°W
5                 Wandsworth   51.4567°N 0.1910°W
6                    Lambeth   51.4607°N 0.1163°W
7                  Southwark   51.5035°N 0.0804°W
8              Tower Hamlets   51.5099°N 0.0059°W
9                    Hackney   51.5450°N 0.0553°W
10                 Islington   51.5416°N 0.1022°W
11                    Camden   51.5290°N 0.1255°W
12                     Brent   51.5588°N 0.2817°W
13                    Ealing   51.5130°N 0.3089°W
14                  Hounslow   51.4746°N 0.3680°W
15      Richmond upon Thames   51.4479°N 0.3260°W
16      Kingston upon Thames   51.4085°N 0.3064°W
17                    Merton   51.4014°N 0.1958°W
18                    Sutton   51.3618°N 0.1945°W
19                   Croydon   51.3714°N 0.0977°W
20                   Bromley   51.4039°N 0.0198°E
21                  Lewisham   51.4452°N 0.0209°W
22                 Greenwich   51.4892°N 0.0648°E
23                    Bexley   51.4549°N 0.1505°E
24                  Havering   51.5812°N 0.1837°E
25        Barking & Dagenham   51.5607°N 0.1557°E
26                 Redbridge   51.5590°N 0.0741°E
27                    Newham   51.5077°N 0.0469°E
28            Waltham Forest   51.5908°N 0.0134°W
29                  Haringey   51.6000°N 0.1119°W
30                   Enfield   51.6538°N 0.0799°W
31                    Barnet   51.6252°N 0.1517°W
32                    Harrow   51.5898°N 0.3346°W
33                Hillingdon  51.5441°N, 0.4760°W

In [9]:
london=df.iloc[0,1]

In [10]:
df['points']=df['Co-ordinates'].apply(lambda p: gp.Point(p))

In [11]:
df['distFromLon (km)']=df['points'].apply(lambda p: gp.distance.geodesic(p,london).km)

In [12]:
df['Borough']

Number
1           City of London
2              Westminster
3     Kensington & Chelsea
4     Hammersmith & Fulham
5               Wandsworth
6                  Lambeth
7                Southwark
8            Tower Hamlets
9                  Hackney
10               Islington
11                  Camden
12                   Brent
13                  Ealing
14                Hounslow
15    Richmond upon Thames
16    Kingston upon Thames
17                  Merton
18                  Sutton
19                 Croydon
20                 Bromley
21                Lewisham
22               Greenwich
23                  Bexley
24                Havering
25      Barking & Dagenham
26               Redbridge
27                  Newham
28          Waltham Forest
29                Haringey
30                 Enfield
31                  Barnet
32                  Harrow
33              Hillingdon
Name: Borough, dtype: object

In [13]:
dT=properties.T
dT=dT.rename(index={'Unnamed: 0': 'London_Borough'})
dTlocs=dT.index
dTcols=list(dT.columns.values)
dT.index=(dT[0])
dT[0]=dTlocs
dT.dropna()
relevantBs=dT[1:33]

In [14]:
relevantBs=relevantBs.set_index(0)

In [15]:
t2=df.merge(relevantBs,left_on='Borough',right_on=0,how='inner')

In [16]:
t2

,Borough,Co-ordinates,points,distFromLon (km),1,2,3,4,5,6,...,337,338,339,340,341,342,343,344,345,346
0,City of London,51.5155°N 0.0922°W,"51 30m 55.8s N, 0 5m 31.92s W",0.000000,91448.98487,82202.77314,79120.70256,77101.20804,84409.14932,94900.51244,...,962674,868654,931058,905101,960392,982370,960158,888278,875234,948692
1,Kensington & Chelsea,51.5020°N 0.1947°W,"51 30m 7.2s N, 0 11m 40.92s W",7.273068,182694.8326,182345.2463,182878.8231,184176.9168,191474.1141,197265.7602,...,1353041,1334969,1357422,1314633,1336351,1376918,1366630,1348284,1277200,1352475
2,Hammersmith & Fulham,51.4927°N 0.2339°W,"51 29m 33.72s N, 0 14m 2.04s W",10.160583,124902.8602,122087.718,120635.9467,121424.6241,124433.539,126175.1513,...,768116,761327,774528,758696,785411,783166,787371,764206,766462,716048
3,Wandsworth,51.4567°N 0.1910°W,"51 27m 24.12s N, 0 11m 27.6s W",9.481306,88559.04381,88641.01678,87124.81523,87026.00225,86518.05945,88114.3351,...,632613,630989,622809,613865,614997,616263,617229,621015,635464,628248
4,Lambeth,51.4607°N 0.1163°W,"51 27m 38.52s N, 0 6m 58.68s W",6.322540,67770.98843,65381.51908,66336.51868,66388.7716,69035.11076,68881.15764,...,549804,550907,554295,556030,550708,539661,547313,556187,577865,572212
5,Southwark,51.5035°N 0.0804°W,"51 30m 12.6s N, 0 4m 49.44s W",1.566402,67885.20344,64799.0648,65763.29719,63073.62117,64420.49933,64155.81449,...,554898,541498,530689,520415,524961,531604,533775,537098,549095,538663
6,Tower Hamlets,51.5099°N 0.0059°W,"51 30m 35.64s N, 0 0m 21.24s W",6.023360,59865.18995,62318.53353,63938.67686,66233.19383,66432.85846,66232.16372,...,482522,479469,467820,458527,447574,439793,433366,441998,452975,450194
7,Hackney,51.5450°N 0.0553°W,"51 32m 42s N, 0 3m 19.08s W",4.162848,61296.52637,63187.08332,63593.29935,65139.64403,66193.99212,66921.17101,...,620099,611247,626805,619934,632959,632056,637950,616783,610147,639717
8,Islington,51.5416°N 0.1022°W,"51 32m 29.76s N, 0 6m 7.92s W",2.985616,92516.48557,94342.37334,93465.86407,93344.49305,94346.39917,97428.94311,...,696150,683686,685486,697720,707740,705797,708885,715535,726890,737539
9,Camden,51.5290°N 0.1255°W,"51 31m 44.4s N, 0 7m 31.8s W",2.756412,120932.8881,119508.8622,120282.2131,120097.899,119929.2782,121887.4625,...,859318,870187,855337,870647,853825,872180,845434,857874,830524,820541
10,Brent,51.5588°N 0.2817°W,"51 33m 31.68s N, 0 16m 54.12s W",14.003046,71306.56698,72022.26197,72015.76274,72965.63094,73704.04743,74310.48167,...,551662,535332,527101,525558,523687,526985,525460,552411,554568,542864
11,Ealing,51.5130°N 0.3089°W,"51 30m 46.8s N, 0 18m 32.04s W",15.045632,79885.89069,80897.06551,81379.86288,82188.90498,82077.05525,81630.66181,...,529704,528381,512245,507696,504662,508547,509818,514537,515339,499337
12,Hounslow,51.4746°N 0.3680°W,"51 28m 28.56s N, 0 22m 4.8s W",19.686870,72231.70537,71051.55852,72097.99411,71890.28339,72877.47219,72331.08116,...,457360,461197,457805,454328,441642,447617,444605,461582,476725,472922
13,Richmond upon Thames,51.4479°N 0.3260°W,"51 26m 52.44s N, 0 19m 33.6s W",17.898541,109326.1245,111103.0394,107325.4742,106875,107707.6799,112865.0542,...,741823,752804,748335,743270,741843,749167,756884,762469,770755,806462
14,Kingston upon Thames,51.4085°N 0.3064°W,"51 24m 30.6s N, 0 18m 23.04s W",19.061098,80875.84843,81230.13524,81111.48848,81672.80476,82123.51084,82205.66822,...,552451,550759,553117,546915,546766,542079,536956,540952,542536,557043
15,Merton,51.4014°N 0.1958°W,"51 24m 5.04s N, 0 11m 44.88s W",14.594407,82070.6133,79982.74872,80661.68279,79990.54333,80873.98643,80704.92667,...,565784,564291,562094,566129,561952,565958,570628,578428,577601,575040
16,Sutton,51.3618°N 0.1945°W,"51 21m 42.48s N, 0 11m 40.2s W",18.520635,71536.97357,70893.20851,70306.83844,69411.9439,69759.21989,70125.24728,...,442121,438146,436658,431737,429292,426144,426115,428589,436364,439430
17,Croydon,51.3714°N 0.0977°W,"51 22m 17.04s N, 0 5m 51.72s W",16.036658,69158.16225,68951.09542,68712.44341,68610.04641,68844.9169,69052.51103,...,430694,427422,419254,409618,406078,402962,406623,413175,419400,401511
18,Bromley,51.4039°N 0.0198°E,"51 24m 14.04s N, 0 1m 11.28s E",14.654617,81671.47692,81657.55944,81449.31143,81124.41227,81542.61561,82382.83435,...,508445,503461,496542,497231,494138,496422,500377,504524,505185,512900
19,Lewisham,51.4452°N 0.0209°W,"51 26m 42.72s N, 0 1m 15.24s W",9.257906,60491.26109,60869.27091,60288.03002,59471.03136,58551.38387,58041.43543,...,465074,462765,452754,455448,446065,449117,456116,464569,474127,452240
20,Greenwich,51.4892°N 0.0648°E,"51 29m 21.12s N, 0 3m 53.28s E",11.287462,62300.10169,60993.26863,61377.83464,61927.7246,63512.99103,64751.56404,...,437710,440150,435674,421376,405551,407847,418014,433850,429011,426081
21,Bexley,51.4549°N 0.1505°E,"51 27m 17.64s N, 0 9m 1.8s E",18.156865,64958.09036,64787.92069,64367.49344,64277.66881,63997.13588,64252.32335,...,402570,401263,395612,392642,385603,383969,387475,387360,389590,393227
22,Havering,51.5812°N 0.1837°E,"51 34m 52.32s N, 0 11m 1.32s E",20.486773,68000.13774,69393.51294,69368.02407,69444.26215,68534.52248,68464.60664,...,433226,431046,424097,422984,418566,418221,419311,419493,423870,419021
23,Barking & Dagenham,51.5607°N 0.1557°E,"51 33m 38.52s N, 0 9m 20.52s E",17.920031,50460.2266,51085.77983,51268.96956,53133.50526,53042.24852,53700.34831,...,352086,346059,344693,347710,348002,343972,340763,343731,344255,334460
24,Redbridge,51.5590°N 0.0741°E,"51 33m 32.4s N, 0 4m 26.76s E",12.512434,72189.58437,72141.6261,72501.35502,72228.60295,72366.64122,72279.4325,...,483314,475373,470565,464307,456050,448625,453987,479119,499828,491337
25,Newham,51.5077°N 0.0469°E,"51 30m 27.72s N, 0 2m 48.84s E",9.695637,53539.31919,53153.88306,53458.26393,54479.75395,55803.95958,56067.76986,...,420186,411472,401155,400148,403625,410577,408342,409032,424540,433164
26,Waltham Forest,51.5908°N 0.0134°W,"51 35m 26.88s N, 0 0m 48.24s W",10.002977,61319.44913,60252.12246,60871.08493,60971.39722,61494.16938,61547.79643,...,510387,510781,503049,504409,495892,496501,491916,500489,503718,508799
27,Haringey,51.6000°N 0.1119°W,"51 36m 5.11591e-12s N, 0 6m 42.84s W",9.500136,76287.56947,78901.21036,78521.94855,79545.57477,79374.0349,79956.3621,...,608766,597174,592090,584317,591114,605957,609905,612605,615661,574374
28,Enfield,51.6538°N 0.0799°W,"51 39m 13.68s N, 0 4m 47.64s W",15.410781,72514.69096,73155.19746,72190.44144,71442.92235,70630.77955,71348.31147,...,449471,442967,436353,434394,435287,434611,439328,444642,449901,450106
29,Barnet,51.6252°N 0.1517°W,"51 37m 30.72s N, 0 9m 6.12s W",12.883466,93284.51832,93190.16963,92247.52435,90762.87492,90258.00033,90107.23471,...,597762,603522,596521,585644,572257,570542,575808,586501,589399,597538
30,Harrow,51.5898°N 0.3346°W,"51 35m 23.28s N, 0 20m 4.56s W",18.735296,84769.52599,83396.10525,83416.23759,83567.88439,83853.65615,84173.24689,...,527797,521035,513656,501548,498937,498119,504769,510100,509854,516260
31,Hillingdon,"51.5441°N, 0.4760°W","51 32m 38.76s N, 0 28m 33.6s W",26.823259,73834.82964,75031.0696,74188.66949,73911.40591,73117.12416,74005.00585,...,462535,457880,451199,446896,443000,442595,439132,444367,445872,447260

In [17]:
colDf=lambda i : relevantBs[i]-relevantBs[i-1]

In [18]:
##Calculates MoM average price.

tmpDf=[]
for i in range(2,relevantBs.shape[1]+1):
    tmpDf.append(colDf(i))
    
tmpDf=pd.concat(tmpDf,axis=1)

In [19]:
#Percentage of times a specific borough has seen negative MoM price changes

tmpDf.lt(0).sum(axis=1)*100/344

0
City of London          43.895349
Barking & Dagenham      30.523256
Barnet                  30.813953
Bexley                  29.360465
Brent                   34.302326
Bromley                 28.488372
Camden                  37.790698
Croydon                 29.069767
Ealing                  31.976744
Enfield                 30.232558
Greenwich               34.302326
Hackney                 37.209302
Hammersmith & Fulham    40.697674
Haringey                35.174419
Harrow                  30.232558
Havering                27.034884
Hillingdon              28.779070
Hounslow                35.174419
Islington               33.430233
Kensington & Chelsea    42.151163
Kingston upon Thames    32.848837
Lambeth                 36.046512
Lewisham                29.360465
Merton                  35.174419
Newham                  27.906977
Redbridge               30.523256
Richmond upon Thames    33.720930
Southwark               37.790698
Sutton                  31.104651
Tower Hamlets           35.174419
Waltham Forest          28.197674
Wandsworth              35.465116
dtype: float64

In [20]:
#Number of boroughs less than the mean

df['distFromLon (km)'].lt(df['distFromLon (km)'].mean()).sum()

16

In [21]:
orderedDist=df.sort_values('distFromLon (km)')

In [22]:
closerBs=orderedDist[['Borough','distFromLon (km)']][0:16]

In [23]:
furtherBs=orderedDist[['Borough','distFromLon (km)']][17:]

In [24]:
orderedDist.set_index('Borough')

,Co-ordinates,points,distFromLon (km)
Borough,,,
City of London,51.5155°N 0.0922°W,"51 30m 55.8s N, 0 5m 31.92s W",0.000000
Southwark,51.5035°N 0.0804°W,"51 30m 12.6s N, 0 4m 49.44s W",1.566402
Camden,51.5290°N 0.1255°W,"51 31m 44.4s N, 0 7m 31.8s W",2.756412
Islington,51.5416°N 0.1022°W,"51 32m 29.76s N, 0 6m 7.92s W",2.985616
Westminster,51.4973°N 0.1372°W,"51 29m 50.28s N, 0 8m 13.92s W",3.723168
Hackney,51.5450°N 0.0553°W,"51 32m 42s N, 0 3m 19.08s W",4.162848
Tower Hamlets,51.5099°N 0.0059°W,"51 30m 35.64s N, 0 0m 21.24s W",6.023360
Lambeth,51.4607°N 0.1163°W,"51 27m 38.52s N, 0 6m 58.68s W",6.322540
Kensington & Chelsea,51.5020°N 0.1947°W,"51 30m 7.2s N, 0 11m 40.92s W",7.273068
Lewisham,51.4452°N 0.0209°W,"51 26m 42.72s N, 0 1m 15.24s W",9.257906
Wandsworth,51.4567°N 0.1910°W,"51 27m 24.12s N, 0 11m 27.6s W",9.481306
Haringey,51.6000°N 0.1119°W,"51 36m 5.11591e-12s N, 0 6m 42.84s W",9.500136
Newham,51.5077°N 0.0469°E,"51 30m 27.72s N, 0 2m 48.84s E",9.695637
Waltham Forest,51.5908°N 0.0134°W,"51 35m 26.88s N, 0 0m 48.24s W",10.002977
Hammersmith & Fulham,51.4927°N 0.2339°W,"51 29m 33.72s N, 0 14m 2.04s W",10.160583
Greenwich,51.4892°N 0.0648°E,"51 29m 21.12s N, 0 3m 53.28s E",11.287462
Redbridge,51.5590°N 0.0741°E,"51 33m 32.4s N, 0 4m 26.76s E",12.512434
Barnet,51.6252°N 0.1517°W,"51 37m 30.72s N, 0 9m 6.12s W",12.883466
Brent,51.5588°N 0.2817°W,"51 33m 31.68s N, 0 16m 54.12s W",14.003046
Merton,51.4014°N 0.1958°W,"51 24m 5.04s N, 0 11m 44.88s W",14.594407
Bromley,51.4039°N 0.0198°E,"51 24m 14.04s N, 0 1m 11.28s E",14.654617
Ealing,51.5130°N 0.3089°W,"51 30m 46.8s N, 0 18m 32.04s W",15.045632
Enfield,51.6538°N 0.0799°W,"51 39m 13.68s N, 0 4m 47.64s W",15.410781
Croydon,51.3714°N 0.0977°W,"51 22m 17.04s N, 0 5m 51.72s W",16.036658
Richmond upon Thames,51.4479°N 0.3260°W,"51 26m 52.44s N, 0 19m 33.6s W",17.898541
Barking & Dagenham,51.5607°N 0.1557°E,"51 33m 38.52s N, 0 9m 20.52s E",17.920031
Bexley,51.4549°N 0.1505°E,"51 27m 17.64s N, 0 9m 1.8s E",18.156865
Sutton,51.3618°N 0.1945°W,"51 21m 42.48s N, 0 11m 40.2s W",18.520635
Harrow,51.5898°N 0.3346°W,"51 35m 23.28s N, 0 20m 4.56s W",18.735296
Kingston upon Thames,51.4085°N 0.3064°W,"51 24m 30.6s N, 0 18m 23.04s W",19.061098
Hounslow,51.4746°N 0.3680°W,"51 28m 28.56s N, 0 22m 4.8s W",19.686870
Havering,51.5812°N 0.1837°E,"51 34m 52.32s N, 0 11m 1.32s E",20.486773
Hillingdon,"51.5441°N, 0.4760°W","51 32m 38.76s N, 0 28m 33.6s W",26.823259

In [25]:
rbs=relevantBs.reset_index()

In [26]:
rbs.head()

,0,1,2,3,4,5,6,7,8,9,...,337,338,339,340,341,342,343,344,345,346
0,City of London,91448.98487,82202.77314,79120.70256,77101.20804,84409.14932,94900.51244,110128.0423,112329.4376,104473.1096,...,962674,868654,931058,905101,960392,982370,960158,888278,875234,948692
1,Barking & Dagenham,50460.2266,51085.77983,51268.96956,53133.50526,53042.24852,53700.34831,52113.12157,52232.19868,51471.61353,...,352086,346059,344693,347710,348002,343972,340763,343731,344255,334460
2,Barnet,93284.51832,93190.16963,92247.52435,90762.87492,90258.00033,90107.23471,91441.24768,92361.31512,93273.12245,...,597762,603522,596521,585644,572257,570542,575808,586501,589399,597538
3,Bexley,64958.09036,64787.92069,64367.49344,64277.66881,63997.13588,64252.32335,63722.70055,64432.60005,64509.54767,...,402570,401263,395612,392642,385603,383969,387475,387360,389590,393227
4,Brent,71306.56698,72022.26197,72015.76274,72965.63094,73704.04743,74310.48167,74127.03788,73547.0411,73789.54287,...,551662,535332,527101,525558,523687,526985,525460,552411,554568,542864

In [27]:
rbDf=rbs.merge(df,left_on=rbs[0],right_on='Borough')

In [28]:
rbDf.sort_values('distFromLon (km)')

,0,1,2,3,4,5,6,7,8,9,...,341,342,343,344,345,346,Borough,Co-ordinates,points,distFromLon (km)
0,City of London,91448.98487,82202.77314,79120.70256,77101.20804,84409.14932,94900.51244,110128.0423,112329.4376,104473.1096,...,960392,982370,960158,888278,875234,948692,City of London,51.5155°N 0.0922°W,"51 30m 55.8s N, 0 5m 31.92s W",0.000000
27,Southwark,67885.20344,64799.0648,65763.29719,63073.62117,64420.49933,64155.81449,67024.74767,65525.94434,63467.00948,...,524961,531604,533775,537098,549095,538663,Southwark,51.5035°N 0.0804°W,"51 30m 12.6s N, 0 4m 49.44s W",1.566402
6,Camden,120932.8881,119508.8622,120282.2131,120097.899,119929.2782,121887.4625,124027.5768,125529.8039,120596.8511,...,853825,872180,845434,857874,830524,820541,Camden,51.5290°N 0.1255°W,"51 31m 44.4s N, 0 7m 31.8s W",2.756412
18,Islington,92516.48557,94342.37334,93465.86407,93344.49305,94346.39917,97428.94311,98976.14077,98951.20791,99582.63778,...,707740,705797,708885,715535,726890,737539,Islington,51.5416°N 0.1022°W,"51 32m 29.76s N, 0 6m 7.92s W",2.985616
11,Hackney,61296.52637,63187.08332,63593.29935,65139.64403,66193.99212,66921.17101,68390.753,68096.79385,68752.50284,...,632959,632056,637950,616783,610147,639717,Hackney,51.5450°N 0.0553°W,"51 32m 42s N, 0 3m 19.08s W",4.162848
29,Tower Hamlets,59865.18995,62318.53353,63938.67686,66233.19383,66432.85846,66232.16372,64692.22672,63472.27558,62177.59435,...,447574,439793,433366,441998,452975,450194,Tower Hamlets,51.5099°N 0.0059°W,"51 30m 35.64s N, 0 0m 21.24s W",6.023360
21,Lambeth,67770.98843,65381.51908,66336.51868,66388.7716,69035.11076,68881.15764,69608.72242,68840.02827,70155.81997,...,550708,539661,547313,556187,577865,572212,Lambeth,51.4607°N 0.1163°W,"51 27m 38.52s N, 0 6m 58.68s W",6.322540
19,Kensington & Chelsea,182694.8326,182345.2463,182878.8231,184176.9168,191474.1141,197265.7602,197963.3169,198037.4218,197047.8333,...,1336351,1376918,1366630,1348284,1277200,1352475,Kensington & Chelsea,51.5020°N 0.1947°W,"51 30m 7.2s N, 0 11m 40.92s W",7.273068
22,Lewisham,60491.26109,60869.27091,60288.03002,59471.03136,58551.38387,58041.43543,58126.37811,58151.3154,58742.99034,...,446065,449117,456116,464569,474127,452240,Lewisham,51.4452°N 0.0209°W,"51 26m 42.72s N, 0 1m 15.24s W",9.257906
31,Wandsworth,88559.04381,88641.01678,87124.81523,87026.00225,86518.05945,88114.3351,89830.58934,90560.68078,91373.6984,...,614997,616263,617229,621015,635464,628248,Wandsworth,51.4567°N 0.1910°W,"51 27m 24.12s N, 0 11m 27.6s W",9.481306
13,Haringey,76287.56947,78901.21036,78521.94855,79545.57477,79374.0349,79956.3621,80746.34881,81217.69074,82142.89052,...,591114,605957,609905,612605,615661,574374,Haringey,51.6000°N 0.1119°W,"51 36m 5.11591e-12s N, 0 6m 42.84s W",9.500136
24,Newham,53539.31919,53153.88306,53458.26393,54479.75395,55803.95958,56067.76986,55458.31693,54709.35467,54585.50364,...,403625,410577,408342,409032,424540,433164,Newham,51.5077°N 0.0469°E,"51 30m 27.72s N, 0 2m 48.84s E",9.695637
30,Waltham Forest,61319.44913,60252.12246,60871.08493,60971.39722,61494.16938,61547.79643,61933.52738,61916.4222,61548.15206,...,495892,496501,491916,500489,503718,508799,Waltham Forest,51.5908°N 0.0134°W,"51 35m 26.88s N, 0 0m 48.24s W",10.002977
12,Hammersmith & Fulham,124902.8602,122087.718,120635.9467,121424.6241,124433.539,126175.1513,124381.5134,123625.3196,123094.0484,...,785411,783166,787371,764206,766462,716048,Hammersmith & Fulham,51.4927°N 0.2339°W,"51 29m 33.72s N, 0 14m 2.04s W",10.160583
10,Greenwich,62300.10169,60993.26863,61377.83464,61927.7246,63512.99103,64751.56404,65486.34112,65076.43195,63996.81525,...,405551,407847,418014,433850,429011,426081,Greenwich,51.4892°N 0.0648°E,"51 29m 21.12s N, 0 3m 53.28s E",11.287462
25,Redbridge,72189.58437,72141.6261,72501.35502,72228.60295,72366.64122,72279.4325,72880.83974,73275.16891,73204.02373,...,456050,448625,453987,479119,499828,491337,Redbridge,51.5590°N 0.0741°E,"51 33m 32.4s N, 0 4m 26.76s E",12.512434
2,Barnet,93284.51832,93190.16963,92247.52435,90762.87492,90258.00033,90107.23471,91441.24768,92361.31512,93273.12245,...,572257,570542,575808,586501,589399,597538,Barnet,51.6252°N 0.1517°W,"51 37m 30.72s N, 0 9m 6.12s W",12.883466
4,Brent,71306.56698,72022.26197,72015.76274,72965.63094,73704.04743,74310.48167,74127.03788,73547.0411,73789.54287,...,523687,526985,525460,552411,554568,542864,Brent,51.5588°N 0.2817°W,"51 33m 31.68s N, 0 16m 54.12s W",14.003046
23,Merton,82070.6133,79982.74872,80661.68279,79990.54333,80873.98643,80704.92667,81055.90335,80781.09186,80824.70075,...,561952,565958,570628,578428,577601,575040,Merton,51.4014°N 0.1958°W,"51 24m 5.04s N, 0 11m 44.88s W",14.594407
5,Bromley,81671.47692,81657.55944,81449.31143,81124.41227,81542.61561,82382.83435,82898.52264,82054.37156,81440.43008,...,494138,496422,500377,504524,505185,512900,Bromley,51.4039°N 0.0198°E,"51 24m 14.04s N, 0 1m 11.28s E",14.654617
8,Ealing,79885.89069,80897.06551,81379.86288,82188.90498,82077.05525,81630.66181,82352.2226,82706.65927,82011.08271,...,504662,508547,509818,514537,515339,499337,Ealing,51.5130°N 0.3089°W,"51 30m 46.8s N, 0 18m 32.04s W",15.045632
9,Enfield,72514.69096,73155.19746,72190.44144,71442.92235,70630.77955,71348.31147,71837.54011,72237.94562,71725.22104,...,435287,434611,439328,444642,449901,450106,Enfield,51.6538°N 0.0799°W,"51 39m 13.68s N, 0 4m 47.64s W",15.410781
7,Croydon,69158.16225,68951.09542,68712.44341,68610.04641,68844.9169,69052.51103,69142.48112,68993.42545,69393.50023,...,406078,402962,406623,413175,419400,401511,Croydon,51.3714°N 0.0977°W,"51 22m 17.04s N, 0 5m 51.72s W",16.036658
26,Richmond upon Thames,109326.1245,111103.0394,107325.4742,106875,107707.6799,112865.0542,114656.6011,112320.4096,110424.5703,...,741843,749167,756884,762469,770755,806462,Richmond upon Thames,51.4479°N 0.3260°W,"51 26m 52.44s N, 0 19m 33.6s W",17.898541
1,Barking & Dagenham,50460.2266,51085.77983,51268.96956,53133.50526,53042.24852,53700.34831,52113.12157,52232.19868,51471.61353,...,348002,343972,340763,343731,344255,334460,Barking & Dagenham,51.5607°N 0.1557°E,"51 33m 38.52s N, 0 9m 20.52s E",17.920031
3,Bexley,64958.09036,64787.92069,64367.49344,64277.66881,63997.13588,64252.32335,63722.70055,64432.60005,64509.54767,...,385603,383969,387475,387360,389590,393227,Bexley,51.4549°N 0.1505°E,"51 27m 17.64s N, 0 9m 1.8s E",18.156865
28,Sutton,71536.97357,70893.20851,70306.83844,69411.9439,69759.21989,70125.24728,70789.57284,69958.41918,69937.40214,...,429292,426144,426115,428589,436364,439430,Sutton,51.3618°N 0.1945°W,"51 21m 42.48s N, 0 11m 40.2s W",18.520635
14,Harrow,84769.52599,83396.10525,83416.23759,83567.88439,83853.65615,84173.24689,84226.69844,84430.61796,83606.97863,...,498937,498119,504769,510100,509854,516260,Harrow,51.5898°N 0.3346°W,"51 35m 23.28s N, 0 20m 4.56s W",18.735296
20,Kingston upon Thames,80875.84843,81230.13524,81111.48848,81672.80476,82123.51084,82205.66822,82525.793,83342.84552,85110.96835,...,546766,542079,536956,540952,542536,557043,Kingston upon Thames,51.4085°N 0.3064°W,"51 24m 30.6s N, 0 18m 23.04s W",19.061098
17,Hounslow,72231.70537,71051.55852,72097.99411,71890.28339,72877.47219,72331.08116,73717.78844,74479.94802,74426.6609,...,441642,447617,444605,461582,476725,472922,Hounslow,51.4746°N 0.3680°W,"51 28m 28.56s N, 0 22m 4.8s W",19.686870
15,Havering,68000.13774,69393.51294,69368.02407,69444.26215,68534.52248,68464.60664,68680.83996,69023.36482,68108.186,...,418566,418221,419311,419493,423870,419021,Havering,51.5812°N 0.1837°E,"51 34m 52.32s N, 0 11m 1.32s E",20.486773
16,Hillingdon,73834.82964,75031.0696,74188.66949,73911.40591,73117.12416,74005.00585,74671.13263,74967.86534,73843.55239,...,443000,442595,439132,444367,445872,447260,Hillingdon,"51.5441°N, 0.4760°W","51 32m 38.76s N, 0 28m 33.6s W",26.823259

In [31]:
#Sort by Distance

rbDf=rbDf.sort_values('distFromLon (km)')

In [33]:
rbDf

,0,1,2,3,4,5,6,7,8,9,...,341,342,343,344,345,346,Borough,Co-ordinates,points,distFromLon (km)
0,City of London,91448.98487,82202.77314,79120.70256,77101.20804,84409.14932,94900.51244,110128.0423,112329.4376,104473.1096,...,960392,982370,960158,888278,875234,948692,City of London,51.5155°N 0.0922°W,"51 30m 55.8s N, 0 5m 31.92s W",0.000000
27,Southwark,67885.20344,64799.0648,65763.29719,63073.62117,64420.49933,64155.81449,67024.74767,65525.94434,63467.00948,...,524961,531604,533775,537098,549095,538663,Southwark,51.5035°N 0.0804°W,"51 30m 12.6s N, 0 4m 49.44s W",1.566402
6,Camden,120932.8881,119508.8622,120282.2131,120097.899,119929.2782,121887.4625,124027.5768,125529.8039,120596.8511,...,853825,872180,845434,857874,830524,820541,Camden,51.5290°N 0.1255°W,"51 31m 44.4s N, 0 7m 31.8s W",2.756412
18,Islington,92516.48557,94342.37334,93465.86407,93344.49305,94346.39917,97428.94311,98976.14077,98951.20791,99582.63778,...,707740,705797,708885,715535,726890,737539,Islington,51.5416°N 0.1022°W,"51 32m 29.76s N, 0 6m 7.92s W",2.985616
11,Hackney,61296.52637,63187.08332,63593.29935,65139.64403,66193.99212,66921.17101,68390.753,68096.79385,68752.50284,...,632959,632056,637950,616783,610147,639717,Hackney,51.5450°N 0.0553°W,"51 32m 42s N, 0 3m 19.08s W",4.162848
29,Tower Hamlets,59865.18995,62318.53353,63938.67686,66233.19383,66432.85846,66232.16372,64692.22672,63472.27558,62177.59435,...,447574,439793,433366,441998,452975,450194,Tower Hamlets,51.5099°N 0.0059°W,"51 30m 35.64s N, 0 0m 21.24s W",6.023360
21,Lambeth,67770.98843,65381.51908,66336.51868,66388.7716,69035.11076,68881.15764,69608.72242,68840.02827,70155.81997,...,550708,539661,547313,556187,577865,572212,Lambeth,51.4607°N 0.1163°W,"51 27m 38.52s N, 0 6m 58.68s W",6.322540
19,Kensington & Chelsea,182694.8326,182345.2463,182878.8231,184176.9168,191474.1141,197265.7602,197963.3169,198037.4218,197047.8333,...,1336351,1376918,1366630,1348284,1277200,1352475,Kensington & Chelsea,51.5020°N 0.1947°W,"51 30m 7.2s N, 0 11m 40.92s W",7.273068
22,Lewisham,60491.26109,60869.27091,60288.03002,59471.03136,58551.38387,58041.43543,58126.37811,58151.3154,58742.99034,...,446065,449117,456116,464569,474127,452240,Lewisham,51.4452°N 0.0209°W,"51 26m 42.72s N, 0 1m 15.24s W",9.257906
31,Wandsworth,88559.04381,88641.01678,87124.81523,87026.00225,86518.05945,88114.3351,89830.58934,90560.68078,91373.6984,...,614997,616263,617229,621015,635464,628248,Wandsworth,51.4567°N 0.1910°W,"51 27m 24.12s N, 0 11m 27.6s W",9.481306
13,Haringey,76287.56947,78901.21036,78521.94855,79545.57477,79374.0349,79956.3621,80746.34881,81217.69074,82142.89052,...,591114,605957,609905,612605,615661,574374,Haringey,51.6000°N 0.1119°W,"51 36m 5.11591e-12s N, 0 6m 42.84s W",9.500136
24,Newham,53539.31919,53153.88306,53458.26393,54479.75395,55803.95958,56067.76986,55458.31693,54709.35467,54585.50364,...,403625,410577,408342,409032,424540,433164,Newham,51.5077°N 0.0469°E,"51 30m 27.72s N, 0 2m 48.84s E",9.695637
30,Waltham Forest,61319.44913,60252.12246,60871.08493,60971.39722,61494.16938,61547.79643,61933.52738,61916.4222,61548.15206,...,495892,496501,491916,500489,503718,508799,Waltham Forest,51.5908°N 0.0134°W,"51 35m 26.88s N, 0 0m 48.24s W",10.002977
12,Hammersmith & Fulham,124902.8602,122087.718,120635.9467,121424.6241,124433.539,126175.1513,124381.5134,123625.3196,123094.0484,...,785411,783166,787371,764206,766462,716048,Hammersmith & Fulham,51.4927°N 0.2339°W,"51 29m 33.72s N, 0 14m 2.04s W",10.160583
10,Greenwich,62300.10169,60993.26863,61377.83464,61927.7246,63512.99103,64751.56404,65486.34112,65076.43195,63996.81525,...,405551,407847,418014,433850,429011,426081,Greenwich,51.4892°N 0.0648°E,"51 29m 21.12s N, 0 3m 53.28s E",11.287462
25,Redbridge,72189.58437,72141.6261,72501.35502,72228.60295,72366.64122,72279.4325,72880.83974,73275.16891,73204.02373,...,456050,448625,453987,479119,499828,491337,Redbridge,51.5590°N 0.0741°E,"51 33m 32.4s N, 0 4m 26.76s E",12.512434
2,Barnet,93284.51832,93190.16963,92247.52435,90762.87492,90258.00033,90107.23471,91441.24768,92361.31512,93273.12245,...,572257,570542,575808,586501,589399,597538,Barnet,51.6252°N 0.1517°W,"51 37m 30.72s N, 0 9m 6.12s W",12.883466
4,Brent,71306.56698,72022.26197,72015.76274,72965.63094,73704.04743,74310.48167,74127.03788,73547.0411,73789.54287,...,523687,526985,525460,552411,554568,542864,Brent,51.5588°N 0.2817°W,"51 33m 31.68s N, 0 16m 54.12s W",14.003046
23,Merton,82070.6133,79982.74872,80661.68279,79990.54333,80873.98643,80704.92667,81055.90335,80781.09186,80824.70075,...,561952,565958,570628,578428,577601,575040,Merton,51.4014°N 0.1958°W,"51 24m 5.04s N, 0 11m 44.88s W",14.594407
5,Bromley,81671.47692,81657.55944,81449.31143,81124.41227,81542.61561,82382.83435,82898.52264,82054.37156,81440.43008,...,494138,496422,500377,504524,505185,512900,Bromley,51.4039°N 0.0198°E,"51 24m 14.04s N, 0 1m 11.28s E",14.654617
8,Ealing,79885.89069,80897.06551,81379.86288,82188.90498,82077.05525,81630.66181,82352.2226,82706.65927,82011.08271,...,504662,508547,509818,514537,515339,499337,Ealing,51.5130°N 0.3089°W,"51 30m 46.8s N, 0 18m 32.04s W",15.045632
9,Enfield,72514.69096,73155.19746,72190.44144,71442.92235,70630.77955,71348.31147,71837.54011,72237.94562,71725.22104,...,435287,434611,439328,444642,449901,450106,Enfield,51.6538°N 0.0799°W,"51 39m 13.68s N, 0 4m 47.64s W",15.410781
7,Croydon,69158.16225,68951.09542,68712.44341,68610.04641,68844.9169,69052.51103,69142.48112,68993.42545,69393.50023,...,406078,402962,406623,413175,419400,401511,Croydon,51.3714°N 0.0977°W,"51 22m 17.04s N, 0 5m 51.72s W",16.036658
26,Richmond upon Thames,109326.1245,111103.0394,107325.4742,106875,107707.6799,112865.0542,114656.6011,112320.4096,110424.5703,...,741843,749167,756884,762469,770755,806462,Richmond upon Thames,51.4479°N 0.3260°W,"51 26m 52.44s N, 0 19m 33.6s W",17.898541
1,Barking & Dagenham,50460.2266,51085.77983,51268.96956,53133.50526,53042.24852,53700.34831,52113.12157,52232.19868,51471.61353,...,348002,343972,340763,343731,344255,334460,Barking & Dagenham,51.5607°N 0.1557°E,"51 33m 38.52s N, 0 9m 20.52s E",17.920031
3,Bexley,64958.09036,64787.92069,64367.49344,64277.66881,63997.13588,64252.32335,63722.70055,64432.60005,64509.54767,...,385603,383969,387475,387360,389590,393227,Bexley,51.4549°N 0.1505°E,"51 27m 17.64s N, 0 9m 1.8s E",18.156865
28,Sutton,71536.97357,70893.20851,70306.83844,69411.9439,69759.21989,70125.24728,70789.57284,69958.41918,69937.40214,...,429292,426144,426115,428589,436364,439430,Sutton,51.3618°N 0.1945°W,"51 21m 42.48s N, 0 11m 40.2s W",18.520635
14,Harrow,84769.52599,83396.10525,83416.23759,83567.88439,83853.65615,84173.24689,84226.69844,84430.61796,83606.97863,...,498937,498119,504769,510100,509854,516260,Harrow,51.5898°N 0.3346°W,"51 35m 23.28s N, 0 20m 4.56s W",18.735296
20,Kingston upon Thames,80875.84843,81230.13524,81111.48848,81672.80476,82123.51084,82205.66822,82525.793,83342.84552,85110.96835,...,546766,542079,536956,540952,542536,557043,Kingston upon Thames,51.4085°N 0.3064°W,"51 24m 30.6s N, 0 18m 23.04s W",19.061098
17,Hounslow,72231.70537,71051.55852,72097.99411,71890.28339,72877.47219,72331.08116,73717.78844,74479.94802,74426.6609,...,441642,447617,444605,461582,476725,472922,Hounslow,51.4746°N 0.3680°W,"51 28m 28.56s N, 0 22m 4.8s W",19.686870
15,Havering,68000.13774,69393.51294,69368.02407,69444.26215,68534.52248,68464.60664,68680.83996,69023.36482,68108.186,...,418566,418221,419311,419493,423870,419021,Havering,51.5812°N 0.1837°E,"51 34m 52.32s N, 0 11m 1.32s E",20.486773
16,Hillingdon,73834.82964,75031.0696,74188.66949,73911.40591,73117.12416,74005.00585,74671.13263,74967.86534,73843.55239,...,443000,442595,439132,444367,445872,447260,Hillingdon,"51.5441°N, 0.4760°W","51 32m 38.76s N, 0 28m 33.6s W",26.823259

In [37]:
relevantBs.join(df['distFromLon (km)'])

,1,2,3,4,5,6,7,8,9,10,...,338,339,340,341,342,343,344,345,346,distFromLon (km)
0,,,,,,,,,,,,,,,,,,,,,
City of London,91448.98487,82202.77314,79120.70256,77101.20804,84409.14932,94900.51244,110128.0423,112329.4376,104473.1096,108038.1181,...,868654,931058,905101,960392,982370,960158,888278,875234,948692,NaN
Barking & Dagenham,50460.2266,51085.77983,51268.96956,53133.50526,53042.24852,53700.34831,52113.12157,52232.19868,51471.61353,51513.7576,...,346059,344693,347710,348002,343972,340763,343731,344255,334460,NaN
Barnet,93284.51832,93190.16963,92247.52435,90762.87492,90258.00033,90107.23471,91441.24768,92361.31512,93273.12245,92567.38498,...,603522,596521,585644,572257,570542,575808,586501,589399,597538,NaN
Bexley,64958.09036,64787.92069,64367.49344,64277.66881,63997.13588,64252.32335,63722.70055,64432.60005,64509.54767,64529.93725,...,401263,395612,392642,385603,383969,387475,387360,389590,393227,NaN
Brent,71306.56698,72022.26197,72015.76274,72965.63094,73704.04743,74310.48167,74127.03788,73547.0411,73789.54287,73264.05385,...,535332,527101,525558,523687,526985,525460,552411,554568,542864,NaN
Bromley,81671.47692,81657.55944,81449.31143,81124.41227,81542.61561,82382.83435,82898.52264,82054.37156,81440.43008,81862.16087,...,503461,496542,497231,494138,496422,500377,504524,505185,512900,NaN
Camden,120932.8881,119508.8622,120282.2131,120097.899,119929.2782,121887.4625,124027.5768,125529.8039,120596.8511,117458.4922,...,870187,855337,870647,853825,872180,845434,857874,830524,820541,NaN
Croydon,69158.16225,68951.09542,68712.44341,68610.04641,68844.9169,69052.51103,69142.48112,68993.42545,69393.50023,68934.61234,...,427422,419254,409618,406078,402962,406623,413175,419400,401511,NaN
Ealing,79885.89069,80897.06551,81379.86288,82188.90498,82077.05525,81630.66181,82352.2226,82706.65927,82011.08271,80522.66054,...,528381,512245,507696,504662,508547,509818,514537,515339,499337,NaN
Enfield,72514.69096,73155.19746,72190.44144,71442.92235,70630.77955,71348.31147,71837.54011,72237.94562,71725.22104,72349.13744,...,442967,436353,434394,435287,434611,439328,444642,449901,450106,NaN
Greenwich,62300.10169,60993.26863,61377.83464,61927.7246,63512.99103,64751.56404,65486.34112,65076.43195,63996.81525,63405.26599,...,440150,435674,421376,405551,407847,418014,433850,429011,426081,NaN
Hackney,61296.52637,63187.08332,63593.29935,65139.64403,66193.99212,66921.17101,68390.753,68096.79385,68752.50284,67619.65052,...,611247,626805,619934,632959,632056,637950,616783,610147,639717,NaN
Hammersmith & Fulham,124902.8602,122087.718,120635.9467,121424.6241,124433.539,126175.1513,124381.5134,123625.3196,123094.0484,123442.56,...,761327,774528,758696,785411,783166,787371,764206,766462,716048,NaN
Haringey,76287.56947,78901.21036,78521.94855,79545.57477,79374.0349,79956.3621,80746.34881,81217.69074,82142.89052,81791.48237,...,597174,592090,584317,591114,605957,609905,612605,615661,574374,NaN
Harrow,84769.52599,83396.10525,83416.23759,83567.88439,83853.65615,84173.24689,84226.69844,84430.61796,83606.97863,82492.72882,...,521035,513656,501548,498937,498119,504769,510100,509854,516260,NaN
Havering,68000.13774,69393.51294,69368.02407,69444.26215,68534.52248,68464.60664,68680.83996,69023.36482,68108.186,67425.63891,...,431046,424097,422984,418566,418221,419311,419493,423870,419021,NaN
Hillingdon,73834.82964,75031.0696,74188.66949,73911.40591,73117.12416,74005.00585,74671.13263,74967.86534,73843.55239,72992.50159,...,457880,451199,446896,443000,442595,439132,444367,445872,447260,NaN
Hounslow,72231.70537,71051.55852,72097.99411,71890.28339,72877.47219,72331.08116,73717.78844,74479.94802,74426.6609,73643.14027,...,461197,457805,454328,441642,447617,444605,461582,476725,472922,NaN
Islington,92516.48557,94342.37334,93465.86407,93344.49305,94346.39917,97428.94311,98976.14077,98951.20791,99582.63778,97580.38673,...,683686,685486,697720,707740,705797,708885,715535,726890,737539,NaN
Kensington & Chelsea,182694.8326,182345.2463,182878.8231,184176.9168,191474.1141,197265.7602,197963.3169,198037.4218,197047.8333,200005.8308,...,1334969,1357422,1314633,1336351,1376918,1366630,1348284,1277200,1352475,NaN
Kingston upon Thames,80875.84843,81230.13524,81111.48848,81672.80476,82123.51084,82205.66822,82525.793,83342.84552,85110.96835,85726.97473,...,550759,553117,546915,546766,542079,536956,540952,542536,557043,NaN
Lambeth,67770.98843,65381.51908,66336.51868,66388.7716,69035.11076,68881.15764,69608.72242,68840.02827,70155.81997,69616.18689,...,550907,554295,556030,550708,539661,547313,556187,577865,572212,NaN
Lewisham,60491.26109,60869.27091,60288.03002,59471.03136,58551.38387,58041.43543,58126.37811,58151.3154,58742.99034,58073.14016,...,462765,452754,455448,446065,449117,456116,464569,474127,452240,NaN
Merton,82070.6133,79982.74872,80661.68279,79990.54333,80873.98643,80704.92667,81055.90335,80781.09186,80824.70075,79569.22895,...,564291,562094,566129,561952,565958,570628,578428,577601,575040,NaN
Newham,53539.31919,53153.88306,53458.26393,54479.75395,55803.95958,56067.76986,55458.31693,54709.35467,54585.50364,54789.55504,...,411472,401155,400148,403625,410577,408342,409032,424540,433164,NaN
Redbridge,72189.58437,72141.6261,72501.35502,72228.60295,72366.64122,72279.4325,72880.83974,73275.16891,73204.02373,72917.47147,...,475373,470565,464307,456050,448625,453987,479119,499828,491337,NaN
Richmond upon Thames,109326.1245,111103.0394,107325.4742,106875,107707.6799,112865.0542,114656.6011,112320.4096,110424.5703,108406.7006,...,752804,748335,743270,741843,749167,756884,762469,770755,806462,NaN
Southwark,67885.20344,64799.0648,65763.29719,63073.62117,64420.49933,64155.81449,67024.74767,65525.94434,63467.00948,60885.98483,...,541498,530689,520415,524961,531604,533775,537098,549095,538663,NaN
Sutton,71536.97357,70893.20851,70306.83844,69411.9439,69759.21989,70125.24728,70789.57284,69958.41918,69937.40214,69963.76558,...,438146,436658,431737,429292,426144,426115,428589,436364,439430,NaN
Tower Hamlets,59865.18995,62318.53353,63938.67686,66233.19383,66432.85846,66232.16372,64692.22672,63472.27558,62177.59435,62066.45135,...,479469,467820,458527,447574,439793,433366,441998,452975,450194,NaN
Waltham Forest,61319.44913,60252.12246,60871.08493,60971.39722,61494.16938,61547.79643,61933.52738,61916.4222,61548.15206,60572.57036,...,510781,503049,504409,495892,496501,491916,500489,503718,508799,NaN
Wandsworth,88559.04381,88641.01678,87124.81523,87026.00225,86518.05945,88114.3351,89830.58934,90560.68078,91373.6984,90246.40944,...,630989,622809,613865,614997,616263,617229,621015,635464,628248,NaN