In [1]:
"""Hypothesis: Prices of housing went up post-covid"""


import geopy as gp
from geopy import distance
import pandas as pd

In [2]:
fn='/Users/mlid/Downloads/londonCoors.xlsx'

In [3]:
url_LondonHousePrices = "https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls"

properties = pd.read_excel(url_LondonHousePrices, sheet_name='Average price', index_col= None)

In [4]:
df = pd.read_excel(fn)

In [5]:
print(df.head())

      Borough        Co-ordinates  Number
0  Hillingdon   51.5441, 0.4760°W      33
1      Harrow  51.5898°N 0.3346°W      32
2      Barnet  51.6252°N 0.1517°W      31
3     Enfield  51.6538°N 0.0799°W      30
4    Haringey  51.6000°N 0.1119°W      29

In [6]:
df=df.set_index('Number')

In [7]:
df=df.sort_index(ascending=True)

In [8]:
df

                       Borough        Co-ordinates
Number
1               City of London  51.5155°N 0.0922°W
2                  Westminster  51.4973°N 0.1372°W
3         Kensington & Chelsea  51.5020°N 0.1947°W
4       Hammersmith and Fulham  51.4927°N 0.2339°W
5                   Wandsworth  51.4567°N 0.1910°W
6                      Lambeth  51.4607°N 0.1163°W
7                    Southwark  51.5035°N 0.0804°W
8                Tower Hamlets  51.5099°N 0.0059°W
9                      Hackney  51.5450°N 0.0553°W
10                   Islington  51.5416°N 0.1022°W
11                      Camden  51.5290°N 0.1255°W
12                       Brent  51.5588°N 0.2817°W
13                      Ealing  51.5130°N 0.3089°W
14                    Hounslow  51.4746°N 0.3680°W
15        Richmond upon Thames  51.4479°N 0.3260°W
16        Kingston upon Thames  51.4085°N 0.3064°W
17                      Merton  51.4014°N 0.1958°W
18                      Sutton  51.3618°N 0.1945°W
19                     Croydon  51.3714°N 0.0977°W
20                     Bromley  51.4039°N 0.0198°E
21                    Lewisham  51.4452°N 0.0209°W
22                  Greenwich  51.4892°N 0.0648°E
23                      Bexley  51.4549°N 0.1505°E
24                    Havering  51.5812°N 0.1837°E
25          Barking & Dagenham  51.5607°N 0.1557°E
26                   Redbridge  51.5590°N 0.0741°E
27                      Newham  51.5077°N 0.0469°E
28              Waltham Forest  51.5908°N 0.0134°W
29                    Haringey  51.6000°N 0.1119°W
30                     Enfield  51.6538°N 0.0799°W
31                      Barnet  51.6252°N 0.1517°W
32                      Harrow  51.5898°N 0.3346°W
33                  Hillingdon   51.5441, 0.4760°W

In [9]:
london=df.iloc[0,1]

In [10]:
df['points']=df['Co-ordinates'].apply(lambda p: gp.Point(p))

In [11]:
df['distFromLon (km)']=df['points'].apply(lambda p: gp.distance.geodesic(p,london).km)

In [12]:
df

,Borough,Co-ordinates,points,distFromLon (km)
Number,,,,
1,City of London,51.5155°N 0.0922°W,"51 30m 55.8s N, 0 5m 31.92s W",0.000000
2,Westminster,51.4973°N 0.1372°W,"51 29m 50.28s N, 0 8m 13.92s W",3.723168
3,Kensington & Chelsea,51.5020°N 0.1947°W,"51 30m 7.2s N, 0 11m 40.92s W",7.273068
4,Hammersmith and Fulham,51.4927°N 0.2339°W,"51 29m 33.72s N, 0 14m 2.04s W",10.160583
5,Wandsworth,51.4567°N 0.1910°W,"51 27m 24.12s N, 0 11m 27.6s W",9.481306
6,Lambeth,51.4607°N 0.1163°W,"51 27m 38.52s N, 0 6m 58.68s W",6.322540
7,Southwark,51.5035°N 0.0804°W,"51 30m 12.6s N, 0 4m 49.44s W",1.566402
8,Tower Hamlets,51.5099°N 0.0059°W,"51 30m 35.64s N, 0 0m 21.24s W",6.023360
9,Hackney,51.5450°N 0.0553°W,"51 32m 42s N, 0 3m 19.08s W",4.162848
10,Islington,51.5416°N 0.1022°W,"51 32m 29.76s N, 0 6m 7.92s W",2.985616
11,Camden,51.5290°N 0.1255°W,"51 31m 44.4s N, 0 7m 31.8s W",2.756412
12,Brent,51.5588°N 0.2817°W,"51 33m 31.68s N, 0 16m 54.12s W",14.003046
13,Ealing,51.5130°N 0.3089°W,"51 30m 46.8s N, 0 18m 32.04s W",15.045632
14,Hounslow,51.4746°N 0.3680°W,"51 28m 28.56s N, 0 22m 4.8s W",19.686870
15,Richmond upon Thames,51.4479°N 0.3260°W,"51 26m 52.44s N, 0 19m 33.6s W",17.898541
16,Kingston upon Thames,51.4085°N 0.3064°W,"51 24m 30.6s N, 0 18m 23.04s W",19.061098
17,Merton,51.4014°N 0.1958°W,"51 24m 5.04s N, 0 11m 44.88s W",14.594407
18,Sutton,51.3618°N 0.1945°W,"51 21m 42.48s N, 0 11m 40.2s W",18.520635
19,Croydon,51.3714°N 0.0977°W,"51 22m 17.04s N, 0 5m 51.72s W",16.036658
20,Bromley,51.4039°N 0.0198°E,"51 24m 14.04s N, 0 1m 11.28s E",14.654617
21,Lewisham,51.4452°N 0.0209°W,"51 26m 42.72s N, 0 1m 15.24s W",9.257906
22,Greenwich,51.4892°N 0.0648°E,"51 29m 21.12s N, 0 3m 53.28s E",11.287462
23,Bexley,51.4549°N 0.1505°E,"51 27m 17.64s N, 0 9m 1.8s E",18.156865
24,Havering,51.5812°N 0.1837°E,"51 34m 52.32s N, 0 11m 1.32s E",20.486773
25,Barking & Dagenham,51.5607°N 0.1557°E,"51 33m 38.52s N, 0 9m 20.52s E",17.920031
26,Redbridge,51.5590°N 0.0741°E,"51 33m 32.4s N, 0 4m 26.76s E",12.512434
27,Newham,51.5077°N 0.0469°E,"51 30m 27.72s N, 0 2m 48.84s E",9.695637
28,Waltham Forest,51.5908°N 0.0134°W,"51 35m 26.88s N, 0 0m 48.24s W",10.002977
29,Haringey,51.6000°N 0.1119°W,"51 36m 5.11591e-12s N, 0 6m 42.84s W",9.500136
30,Enfield,51.6538°N 0.0799°W,"51 39m 13.68s N, 0 4m 47.64s W",15.410781
31,Barnet,51.6252°N 0.1517°W,"51 37m 30.72s N, 0 9m 6.12s W",12.883466
32,Harrow,51.5898°N 0.3346°W,"51 35m 23.28s N, 0 20m 4.56s W",18.735296
33,Hillingdon,"51.5441, 0.4760°W","51 32m 38.76s N, 0 28m 33.6s W",26.823259

In [13]:
dT=properties.T
dT=dT.rename(index={'Unnamed: 0': 'London_Borough'})
dTlocs=dT.index
dTcols=list(dT.columns.values)
dT.index=(dT[0])
dT[0]=dTlocs
dT.dropna()
relevantBs=dT[1:33]

In [18]:
relevantBs=relevantBs.set_index(0)

In [19]:
relevantBs

,1,2,3,4,5,6,7,8,9,10,...,336,337,338,339,340,341,342,343,344,345
0,,,,,,,,,,,,,,,,,,,,,
City of London,91448.98487,82202.77314,79120.70256,77101.20804,84409.14932,94900.51244,110128.0423,112329.4376,104473.1096,108038.1181,...,975240,963094,869039,930986,903718,958418,951649,931176,861107,807475
Barking & Dagenham,50460.2266,51085.77983,51268.96956,53133.50526,53042.24852,53700.34831,52113.12157,52232.19868,51471.61353,51513.7576,...,355596,353429,346193,345288,348254,349590,346099,343430,344171,345614
Barnet,93284.51832,93190.16963,92247.52435,90762.87492,90258.00033,90107.23471,91441.24768,92361.31512,93273.12245,92567.38498,...,592328,596085,602336,596064,587132,575141,575829,583479,597591,584740
Bexley,64958.09036,64787.92069,64367.49344,64277.66881,63997.13588,64252.32335,63722.70055,64432.60005,64509.54767,64529.93725,...,409059,402365,403398,399796,398544,391077,390880,396718,396278,396292
Brent,71306.56698,72022.26197,72015.76274,72965.63094,73704.04743,74310.48167,74127.03788,73547.0411,73789.54287,73264.05385,...,552767,551093,534129,525561,523992,524452,531478,531425,557552,565929
Bromley,81671.47692,81657.55944,81449.31143,81124.41227,81542.61561,82382.83435,82898.52264,82054.37156,81440.43008,81862.16087,...,512263,508434,500974,495896,497632,496393,497841,503888,509263,502753
Camden,120932.8881,119508.8622,120282.2131,120097.899,119929.2782,121887.4625,124027.5768,125529.8039,120596.8511,117458.4922,...,854762,858942,870793,855810,879927,859267,871822,838994,854042,810578
Croydon,69158.16225,68951.09542,68712.44341,68610.04641,68844.9169,69052.51103,69142.48112,68993.42545,69393.50023,68934.61234,...,429078,431797,428317,420441,412059,408859,406086,409938,416583,430541
Ealing,79885.89069,80897.06551,81379.86288,82188.90498,82077.05525,81630.66181,82352.2226,82706.65927,82011.08271,80522.66054,...,531259,531246,535352,522437,522810,522224,529437,535675,543218,554377
Enfield,72514.69096,73155.19746,72190.44144,71442.92235,70630.77955,71348.31147,71837.54011,72237.94562,71725.22104,72349.13744,...,458211,449185,442881,437499,435914,437067,436020,441312,445720,454410
Greenwich,62300.10169,60993.26863,61377.83464,61927.7246,63512.99103,64751.56404,65486.34112,65076.43195,63996.81525,63405.26599,...,435349,438148,442511,441405,429164,413052,413383,426660,442438,445801
Hackney,61296.52637,63187.08332,63593.29935,65139.64403,66193.99212,66921.17101,68390.753,68096.79385,68752.50284,67619.65052,...,622524,620395,614259,632267,630722,645012,644872,652928,634511,613851
Hammersmith & Fulham,124902.8602,122087.718,120635.9467,121424.6241,124433.539,126175.1513,124381.5134,123625.3196,123094.0484,123442.56,...,741669,768573,766407,781553,767511,792923,792127,801716,781072,797211
Haringey,76287.56947,78901.21036,78521.94855,79545.57477,79374.0349,79956.3621,80746.34881,81217.69074,82142.89052,81791.48237,...,604603,609434,597184,594035,586121,596786,607413,610682,609320,623771
Harrow,84769.52599,83396.10525,83416.23759,83567.88439,83853.65615,84173.24689,84226.69844,84430.61796,83606.97863,82492.72882,...,528211,527440,520605,512995,500524,498667,499469,505091,507948,520995
Havering,68000.13774,69393.51294,69368.02407,69444.26215,68534.52248,68464.60664,68680.83996,69023.36482,68108.186,67425.63891,...,436325,434192,432471,425137,424627,420144,420595,423756,423957,428316
Hillingdon,73834.82964,75031.0696,74188.66949,73911.40591,73117.12416,74005.00585,74671.13263,74967.86534,73843.55239,72992.50159,...,466328,461726,459331,455211,453470,450341,452308,452683,457856,455107
Hounslow,72231.70537,71051.55852,72097.99411,71890.28339,72877.47219,72331.08116,73717.78844,74479.94802,74426.6609,73643.14027,...,450071,459021,461884,458012,455719,443659,451511,448476,465304,475965
Islington,92516.48557,94342.37334,93465.86407,93344.49305,94346.39917,97428.94311,98976.14077,98951.20791,99582.63778,97580.38673,...,703076,697637,684105,686207,697986,714112,709118,712710,713652,718622
Kensington & Chelsea,182694.8326,182345.2463,182878.8231,184176.9168,191474.1141,197265.7602,197963.3169,198037.4218,197047.8333,200005.8308,...,1305382,1356424,1332696,1364904,1330033,1339650,1362492,1350811,1355950,1203055
Kingston upon Thames,80875.84843,81230.13524,81111.48848,81672.80476,82123.51084,82205.66822,82525.793,83342.84552,85110.96835,85726.97473,...,555429,553716,550985,552035,545735,545060,543533,542446,547161,542014
Lambeth,67770.98843,65381.51908,66336.51868,66388.7716,69035.11076,68881.15764,69608.72242,68840.02827,70155.81997,69616.18689,...,550848,550491,551812,555124,556928,551514,540222,548939,561066,579990
Lewisham,60491.26109,60869.27091,60288.03002,59471.03136,58551.38387,58041.43543,58126.37811,58151.3154,58742.99034,58073.14016,...,467971,465064,463370,453897,454909,443829,447880,457886,468652,483377
Merton,82070.6133,79982.74872,80661.68279,79990.54333,80873.98643,80704.92667,81055.90335,80781.09186,80824.70075,79569.22895,...,573550,568827,571555,574425,579859,573265,574782,579300,588418,587927
Newham,53539.31919,53153.88306,53458.26393,54479.75395,55803.95958,56067.76986,55458.31693,54709.35467,54585.50364,54789.55504,...,422019,422196,413827,402397,404394,408068,413531,409382,409930,415168
Redbridge,72189.58437,72141.6261,72501.35502,72228.60295,72366.64122,72279.4325,72880.83974,73275.16891,73204.02373,72917.47147,...,484951,483179,474596,470836,464362,459017,451693,457820,482993,504869
Richmond upon Thames,109326.1245,111103.0394,107325.4742,106875,107707.6799,112865.0542,114656.6011,112320.4096,110424.5703,108406.7006,...,737710,744659,754802,749470,744098,745338,753772,761294,764403,756317
Southwark,67885.20344,64799.0648,65763.29719,63073.62117,64420.49933,64155.81449,67024.74767,65525.94434,63467.00948,60885.98483,...,554930,556336,541437,529503,518402,527497,536332,541457,541633,549329
Sutton,71536.97357,70893.20851,70306.83844,69411.9439,69759.21989,70125.24728,70789.57284,69958.41918,69937.40214,69963.76558,...,438912,442920,438325,436795,433494,429422,427012,426048,429898,437958
Tower Hamlets,59865.18995,62318.53353,63938.67686,66233.19383,66432.85846,66232.16372,64692.22672,63472.27558,62177.59435,62066.45135,...,488538,488206,490788,485043,485680,485554,479768,470178,474562,509454
Waltham Forest,61319.44913,60252.12246,60871.08493,60971.39722,61494.16938,61547.79643,61933.52738,61916.4222,61548.15206,60572.57036,...,516234,509991,512575,505682,507509,497809,499730,494572,501681,510471
Wandsworth,88559.04381,88641.01678,87124.81523,87026.00225,86518.05945,88114.3351,89830.58934,90560.68078,91373.6984,90246.40944,...,630568,630541,631835,625151,618574,618394,620574,623608,627230,637929

In [27]:
t2=df.merge(relevantBs,left_on='Borough',right_on=0,how='outer')

In [28]:
t2

,Borough,Co-ordinates,points,distFromLon (km),1,2,3,4,5,6,...,336,337,338,339,340,341,342,343,344,345
0,City of London,51.5155°N 0.0922°W,"51 30m 55.8s N, 0 5m 31.92s W",0.000000,91448.98487,82202.77314,79120.70256,77101.20804,84409.14932,94900.51244,...,975240,963094,869039,930986,903718,958418,951649,931176,861107,807475
1,Westminster,51.4973°N 0.1372°W,"51 29m 50.28s N, 0 8m 13.92s W",3.723168,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Kensington & Chelsea,51.5020°N 0.1947°W,"51 30m 7.2s N, 0 11m 40.92s W",7.273068,182694.8326,182345.2463,182878.8231,184176.9168,191474.1141,197265.7602,...,1305382,1356424,1332696,1364904,1330033,1339650,1362492,1350811,1355950,1203055
3,Hammersmith and Fulham,51.4927°N 0.2339°W,"51 29m 33.72s N, 0 14m 2.04s W",10.160583,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Wandsworth,51.4567°N 0.1910°W,"51 27m 24.12s N, 0 11m 27.6s W",9.481306,88559.04381,88641.01678,87124.81523,87026.00225,86518.05945,88114.3351,...,630568,630541,631835,625151,618574,618394,620574,623608,627230,637929
5,Lambeth,51.4607°N 0.1163°W,"51 27m 38.52s N, 0 6m 58.68s W",6.322540,67770.98843,65381.51908,66336.51868,66388.7716,69035.11076,68881.15764,...,550848,550491,551812,555124,556928,551514,540222,548939,561066,579990
6,Southwark,51.5035°N 0.0804°W,"51 30m 12.6s N, 0 4m 49.44s W",1.566402,67885.20344,64799.0648,65763.29719,63073.62117,64420.49933,64155.81449,...,554930,556336,541437,529503,518402,527497,536332,541457,541633,549329
7,Tower Hamlets,51.5099°N 0.0059°W,"51 30m 35.64s N, 0 0m 21.24s W",6.023360,59865.18995,62318.53353,63938.67686,66233.19383,66432.85846,66232.16372,...,488538,488206,490788,485043,485680,485554,479768,470178,474562,509454
8,Hackney,51.5450°N 0.0553°W,"51 32m 42s N, 0 3m 19.08s W",4.162848,61296.52637,63187.08332,63593.29935,65139.64403,66193.99212,66921.17101,...,622524,620395,614259,632267,630722,645012,644872,652928,634511,613851
9,Islington,51.5416°N 0.1022°W,"51 32m 29.76s N, 0 6m 7.92s W",2.985616,92516.48557,94342.37334,93465.86407,93344.49305,94346.39917,97428.94311,...,703076,697637,684105,686207,697986,714112,709118,712710,713652,718622
10,Camden,51.5290°N 0.1255°W,"51 31m 44.4s N, 0 7m 31.8s W",2.756412,120932.8881,119508.8622,120282.2131,120097.899,119929.2782,121887.4625,...,854762,858942,870793,855810,879927,859267,871822,838994,854042,810578
11,Brent,51.5588°N 0.2817°W,"51 33m 31.68s N, 0 16m 54.12s W",14.003046,71306.56698,72022.26197,72015.76274,72965.63094,73704.04743,74310.48167,...,552767,551093,534129,525561,523992,524452,531478,531425,557552,565929
12,Ealing,51.5130°N 0.3089°W,"51 30m 46.8s N, 0 18m 32.04s W",15.045632,79885.89069,80897.06551,81379.86288,82188.90498,82077.05525,81630.66181,...,531259,531246,535352,522437,522810,522224,529437,535675,543218,554377
13,Hounslow,51.4746°N 0.3680°W,"51 28m 28.56s N, 0 22m 4.8s W",19.686870,72231.70537,71051.55852,72097.99411,71890.28339,72877.47219,72331.08116,...,450071,459021,461884,458012,455719,443659,451511,448476,465304,475965
14,Richmond upon Thames,51.4479°N 0.3260°W,"51 26m 52.44s N, 0 19m 33.6s W",17.898541,109326.1245,111103.0394,107325.4742,106875,107707.6799,112865.0542,...,737710,744659,754802,749470,744098,745338,753772,761294,764403,756317
15,Kingston upon Thames,51.4085°N 0.3064°W,"51 24m 30.6s N, 0 18m 23.04s W",19.061098,80875.84843,81230.13524,81111.48848,81672.80476,82123.51084,82205.66822,...,555429,553716,550985,552035,545735,545060,543533,542446,547161,542014
16,Merton,51.4014°N 0.1958°W,"51 24m 5.04s N, 0 11m 44.88s W",14.594407,82070.6133,79982.74872,80661.68279,79990.54333,80873.98643,80704.92667,...,573550,568827,571555,574425,579859,573265,574782,579300,588418,587927
17,Sutton,51.3618°N 0.1945°W,"51 21m 42.48s N, 0 11m 40.2s W",18.520635,71536.97357,70893.20851,70306.83844,69411.9439,69759.21989,70125.24728,...,438912,442920,438325,436795,433494,429422,427012,426048,429898,437958
18,Croydon,51.3714°N 0.0977°W,"51 22m 17.04s N, 0 5m 51.72s W",16.036658,69158.16225,68951.09542,68712.44341,68610.04641,68844.9169,69052.51103,...,429078,431797,428317,420441,412059,408859,406086,409938,416583,430541
19,Bromley,51.4039°N 0.0198°E,"51 24m 14.04s N, 0 1m 11.28s E",14.654617,81671.47692,81657.55944,81449.31143,81124.41227,81542.61561,82382.83435,...,512263,508434,500974,495896,497632,496393,497841,503888,509263,502753
20,Lewisham,51.4452°N 0.0209°W,"51 26m 42.72s N, 0 1m 15.24s W",9.257906,60491.26109,60869.27091,60288.03002,59471.03136,58551.38387,58041.43543,...,467971,465064,463370,453897,454909,443829,447880,457886,468652,483377
21,Greenwich,51.4892°N 0.0648°E,"51 29m 21.12s N, 0 3m 53.28s E",11.287462,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Bexley,51.4549°N 0.1505°E,"51 27m 17.64s N, 0 9m 1.8s E",18.156865,64958.09036,64787.92069,64367.49344,64277.66881,63997.13588,64252.32335,...,409059,402365,403398,399796,398544,391077,390880,396718,396278,396292
23,Havering,51.5812°N 0.1837°E,"51 34m 52.32s N, 0 11m 1.32s E",20.486773,68000.13774,69393.51294,69368.02407,69444.26215,68534.52248,68464.60664,...,436325,434192,432471,425137,424627,420144,420595,423756,423957,428316
24,Barking & Dagenham,51.5607°N 0.1557°E,"51 33m 38.52s N, 0 9m 20.52s E",17.920031,50460.2266,51085.77983,51268.96956,53133.50526,53042.24852,53700.34831,...,355596,353429,346193,345288,348254,349590,346099,343430,344171,345614
25,Redbridge,51.5590°N 0.0741°E,"51 33m 32.4s N, 0 4m 26.76s E",12.512434,72189.58437,72141.6261,72501.35502,72228.60295,72366.64122,72279.4325,...,484951,483179,474596,470836,464362,459017,451693,457820,482993,504869
26,Newham,51.5077°N 0.0469°E,"51 30m 27.72s N, 0 2m 48.84s E",9.695637,53539.31919,53153.88306,53458.26393,54479.75395,55803.95958,56067.76986,...,422019,422196,413827,402397,404394,408068,413531,409382,409930,415168
27,Waltham Forest,51.5908°N 0.0134°W,"51 35m 26.88s N, 0 0m 48.24s W",10.002977,61319.44913,60252.12246,60871.08493,60971.39722,61494.16938,61547.79643,...,516234,509991,512575,505682,507509,497809,499730,494572,501681,510471
28,Haringey,51.6000°N 0.1119°W,"51 36m 5.11591e-12s N, 0 6m 42.84s W",9.500136,76287.56947,78901.21036,78521.94855,79545.57477,79374.0349,79956.3621,...,604603,609434,597184,594035,586121,596786,607413,610682,609320,623771
29,Enfield,51.6538°N 0.0799°W,"51 39m 13.68s N, 0 4m 47.64s W",15.410781,72514.69096,73155.19746,72190.44144,71442.92235,70630.77955,71348.31147,...,458211,449185,442881,437499,435914,437067,436020,441312,445720,454410
30,Barnet,51.6252°N 0.1517°W,"51 37m 30.72s N, 0 9m 6.12s W",12.883466,93284.51832,93190.16963,92247.52435,90762.87492,90258.00033,90107.23471,...,592328,596085,602336,596064,587132,575141,575829,583479,597591,584740
31,Harrow,51.5898°N 0.3346°W,"51 35m 23.28s N, 0 20m 4.56s W",18.735296,84769.52599,83396.10525,83416.23759,83567.88439,83853.65615,84173.24689,...,528211,527440,520605,512995,500524,498667,499469,505091,507948,520995
32,Hillingdon,"51.5441, 0.4760°W","51 32m 38.76s N, 0 28m 33.6s W",26.823259,73834.82964,75031.0696,74188.66949,73911.40591,73117.12416,74005.00585,...,466328,461726,459331,455211,453470,450341,452308,452683,457856,455107
33,Greenwich,NaN,NaN,NaN,62300.10169,60993.26863,61377.83464,61927.7246,63512.99103,64751.56404,...,435349,438148,442511,441405,429164,413052,413383,426660,442438,445801
34,Hammersmith & Fulham,NaN,NaN,NaN,124902.8602,122087.718,120635.9467,121424.6241,124433.539,126175.1513,...,741669,768573,766407,781553,767511,792923,792127,801716,781072,797211

In [26]:
t1

,Borough,Co-ordinates,points,distFromLon (km),1,2,3,4,5,6,...,336,337,338,339,340,341,342,343,344,345
0,City of London,51.5155°N 0.0922°W,"51 30m 55.8s N, 0 5m 31.92s W",0.000000,91448.98487,82202.77314,79120.70256,77101.20804,84409.14932,94900.51244,...,975240,963094,869039,930986,903718,958418,951649,931176,861107,807475
1,Westminster,51.4973°N 0.1372°W,"51 29m 50.28s N, 0 8m 13.92s W",3.723168,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Kensington & Chelsea,51.5020°N 0.1947°W,"51 30m 7.2s N, 0 11m 40.92s W",7.273068,182694.8326,182345.2463,182878.8231,184176.9168,191474.1141,197265.7602,...,1305382,1356424,1332696,1364904,1330033,1339650,1362492,1350811,1355950,1203055
3,Hammersmith and Fulham,51.4927°N 0.2339°W,"51 29m 33.72s N, 0 14m 2.04s W",10.160583,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Wandsworth,51.4567°N 0.1910°W,"51 27m 24.12s N, 0 11m 27.6s W",9.481306,88559.04381,88641.01678,87124.81523,87026.00225,86518.05945,88114.3351,...,630568,630541,631835,625151,618574,618394,620574,623608,627230,637929
5,Lambeth,51.4607°N 0.1163°W,"51 27m 38.52s N, 0 6m 58.68s W",6.322540,67770.98843,65381.51908,66336.51868,66388.7716,69035.11076,68881.15764,...,550848,550491,551812,555124,556928,551514,540222,548939,561066,579990
6,Southwark,51.5035°N 0.0804°W,"51 30m 12.6s N, 0 4m 49.44s W",1.566402,67885.20344,64799.0648,65763.29719,63073.62117,64420.49933,64155.81449,...,554930,556336,541437,529503,518402,527497,536332,541457,541633,549329
7,Tower Hamlets,51.5099°N 0.0059°W,"51 30m 35.64s N, 0 0m 21.24s W",6.023360,59865.18995,62318.53353,63938.67686,66233.19383,66432.85846,66232.16372,...,488538,488206,490788,485043,485680,485554,479768,470178,474562,509454
8,Hackney,51.5450°N 0.0553°W,"51 32m 42s N, 0 3m 19.08s W",4.162848,61296.52637,63187.08332,63593.29935,65139.64403,66193.99212,66921.17101,...,622524,620395,614259,632267,630722,645012,644872,652928,634511,613851
9,Islington,51.5416°N 0.1022°W,"51 32m 29.76s N, 0 6m 7.92s W",2.985616,92516.48557,94342.37334,93465.86407,93344.49305,94346.39917,97428.94311,...,703076,697637,684105,686207,697986,714112,709118,712710,713652,718622
10,Camden,51.5290°N 0.1255°W,"51 31m 44.4s N, 0 7m 31.8s W",2.756412,120932.8881,119508.8622,120282.2131,120097.899,119929.2782,121887.4625,...,854762,858942,870793,855810,879927,859267,871822,838994,854042,810578
11,Brent,51.5588°N 0.2817°W,"51 33m 31.68s N, 0 16m 54.12s W",14.003046,71306.56698,72022.26197,72015.76274,72965.63094,73704.04743,74310.48167,...,552767,551093,534129,525561,523992,524452,531478,531425,557552,565929
12,Ealing,51.5130°N 0.3089°W,"51 30m 46.8s N, 0 18m 32.04s W",15.045632,79885.89069,80897.06551,81379.86288,82188.90498,82077.05525,81630.66181,...,531259,531246,535352,522437,522810,522224,529437,535675,543218,554377
13,Hounslow,51.4746°N 0.3680°W,"51 28m 28.56s N, 0 22m 4.8s W",19.686870,72231.70537,71051.55852,72097.99411,71890.28339,72877.47219,72331.08116,...,450071,459021,461884,458012,455719,443659,451511,448476,465304,475965
14,Richmond upon Thames,51.4479°N 0.3260°W,"51 26m 52.44s N, 0 19m 33.6s W",17.898541,109326.1245,111103.0394,107325.4742,106875,107707.6799,112865.0542,...,737710,744659,754802,749470,744098,745338,753772,761294,764403,756317
15,Kingston upon Thames,51.4085°N 0.3064°W,"51 24m 30.6s N, 0 18m 23.04s W",19.061098,80875.84843,81230.13524,81111.48848,81672.80476,82123.51084,82205.66822,...,555429,553716,550985,552035,545735,545060,543533,542446,547161,542014
16,Merton,51.4014°N 0.1958°W,"51 24m 5.04s N, 0 11m 44.88s W",14.594407,82070.6133,79982.74872,80661.68279,79990.54333,80873.98643,80704.92667,...,573550,568827,571555,574425,579859,573265,574782,579300,588418,587927
17,Sutton,51.3618°N 0.1945°W,"51 21m 42.48s N, 0 11m 40.2s W",18.520635,71536.97357,70893.20851,70306.83844,69411.9439,69759.21989,70125.24728,...,438912,442920,438325,436795,433494,429422,427012,426048,429898,437958
18,Croydon,51.3714°N 0.0977°W,"51 22m 17.04s N, 0 5m 51.72s W",16.036658,69158.16225,68951.09542,68712.44341,68610.04641,68844.9169,69052.51103,...,429078,431797,428317,420441,412059,408859,406086,409938,416583,430541
19,Bromley,51.4039°N 0.0198°E,"51 24m 14.04s N, 0 1m 11.28s E",14.654617,81671.47692,81657.55944,81449.31143,81124.41227,81542.61561,82382.83435,...,512263,508434,500974,495896,497632,496393,497841,503888,509263,502753
20,Lewisham,51.4452°N 0.0209°W,"51 26m 42.72s N, 0 1m 15.24s W",9.257906,60491.26109,60869.27091,60288.03002,59471.03136,58551.38387,58041.43543,...,467971,465064,463370,453897,454909,443829,447880,457886,468652,483377
21,Greenwich,51.4892°N 0.0648°E,"51 29m 21.12s N, 0 3m 53.28s E",11.287462,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Bexley,51.4549°N 0.1505°E,"51 27m 17.64s N, 0 9m 1.8s E",18.156865,64958.09036,64787.92069,64367.49344,64277.66881,63997.13588,64252.32335,...,409059,402365,403398,399796,398544,391077,390880,396718,396278,396292
23,Havering,51.5812°N 0.1837°E,"51 34m 52.32s N, 0 11m 1.32s E",20.486773,68000.13774,69393.51294,69368.02407,69444.26215,68534.52248,68464.60664,...,436325,434192,432471,425137,424627,420144,420595,423756,423957,428316
24,Barking & Dagenham,51.5607°N 0.1557°E,"51 33m 38.52s N, 0 9m 20.52s E",17.920031,50460.2266,51085.77983,51268.96956,53133.50526,53042.24852,53700.34831,...,355596,353429,346193,345288,348254,349590,346099,343430,344171,345614
25,Redbridge,51.5590°N 0.0741°E,"51 33m 32.4s N, 0 4m 26.76s E",12.512434,72189.58437,72141.6261,72501.35502,72228.60295,72366.64122,72279.4325,...,484951,483179,474596,470836,464362,459017,451693,457820,482993,504869
26,Newham,51.5077°N 0.0469°E,"51 30m 27.72s N, 0 2m 48.84s E",9.695637,53539.31919,53153.88306,53458.26393,54479.75395,55803.95958,56067.76986,...,422019,422196,413827,402397,404394,408068,413531,409382,409930,415168
27,Waltham Forest,51.5908°N 0.0134°W,"51 35m 26.88s N, 0 0m 48.24s W",10.002977,61319.44913,60252.12246,60871.08493,60971.39722,61494.16938,61547.79643,...,516234,509991,512575,505682,507509,497809,499730,494572,501681,510471
28,Haringey,51.6000°N 0.1119°W,"51 36m 5.11591e-12s N, 0 6m 42.84s W",9.500136,76287.56947,78901.21036,78521.94855,79545.57477,79374.0349,79956.3621,...,604603,609434,597184,594035,586121,596786,607413,610682,609320,623771
29,Enfield,51.6538°N 0.0799°W,"51 39m 13.68s N, 0 4m 47.64s W",15.410781,72514.69096,73155.19746,72190.44144,71442.92235,70630.77955,71348.31147,...,458211,449185,442881,437499,435914,437067,436020,441312,445720,454410
30,Barnet,51.6252°N 0.1517°W,"51 37m 30.72s N, 0 9m 6.12s W",12.883466,93284.51832,93190.16963,92247.52435,90762.87492,90258.00033,90107.23471,...,592328,596085,602336,596064,587132,575141,575829,583479,597591,584740
31,Harrow,51.5898°N 0.3346°W,"51 35m 23.28s N, 0 20m 4.56s W",18.735296,84769.52599,83396.10525,83416.23759,83567.88439,83853.65615,84173.24689,...,528211,527440,520605,512995,500524,498667,499469,505091,507948,520995
32,Hillingdon,"51.5441, 0.4760°W","51 32m 38.76s N, 0 28m 33.6s W",26.823259,73834.82964,75031.0696,74188.66949,73911.40591,73117.12416,74005.00585,...,466328,461726,459331,455211,453470,450341,452308,452683,457856,455107
33,Greenwich,NaN,NaN,NaN,62300.10169,60993.26863,61377.83464,61927.7246,63512.99103,64751.56404,...,435349,438148,442511,441405,429164,413052,413383,426660,442438,445801
34,Hammersmith & Fulham,NaN,NaN,NaN,124902.8602,122087.718,120635.9467,121424.6241,124433.539,126175.1513,...,741669,768573,766407,781553,767511,792923,792127,801716,781072,797211