In [57]:
from sqlalchemy import create_engine, inspect
import pandas as pd
import datetime as dt

engine = create_engine('sqlite:////Users/mlid/Desktop/SpringboardDS/SQLFiles Tier 2/sqlite_db_pythonsqlite.db')

In [170]:
with engine.connect() as con:
    rs=con.execute('select * \
    from Members')
    mems = pd.DataFrame(rs.fetchall())
    mems.columns = rs.keys()
    
    rs=con.execute('select * from Facilities')
    facs=pd.DataFrame(rs.fetchall())
    facs.columns= rs.keys()
    
    rs=con.execute('select * from Bookings')
    books=pd.DataFrame(rs.fetchall())
    books.columns = rs.keys()

In [74]:
combo=books.merge(facs,on='facid')

In [133]:
for x in combo['memid']:
    if x == 0:
        combo['rev']=combo['guestcost']*combo['slots']
    else:
        combo['rev']=combo['membercost']*combo['slots']

In [134]:
combo['starttime'] = pd.to_datetime(combo['starttime'], format='%Y-%m-%d %H:%M:%S')

In [169]:
#rev=combo.groupby([combo.starttime.dt.date,'name'])['rev'].sum()
rev=combo.groupby('name')['rev'].sum()
rev #Revenue per

name
Badminton Court     18739.5
Massage Room 1     112320.0
Massage Room 2      18240.0
Pool Table           4550.0
Snooker Table        4540.0
Squash Court        19320.0
Table Tennis         4150.0
Tennis Court 1      33000.0
Tennis Court 2      31950.0
Name: rev, dtype: float64

In [161]:
rev_df=pd.DataFrame(rev)
rev_df=rev_df.reset_index()

In [164]:
rev_df['starttime']=pd.to_datetime(rev_df['starttime'], format='%Y-%m-%d %H:%M:%S')
revA=rev_df.groupby(rev_df.starttime.dt.date)['rev'].sum()

In [171]:
revA

starttime
2012-07-03     225.0
2012-07-04     755.0
2012-07-05     386.5
2012-07-06     501.5
2012-07-07    1094.5
               ...
2012-09-26    3932.0
2012-09-27    4034.0
2012-09-28    4757.0
2012-09-29    3967.0
2012-09-30    3952.0
Name: rev, Length: 90, dtype: float64

In [175]:
with engine.connect() as con:
    rs=con.execute('select * \
    from Bookings')
    mems = pd.DataFrame(rs.fetchall())
    mems.columns = rs.keys()

mems

      bookid  facid  memid            starttime  slots
0          0      3      1  2012-07-03 11:00:00      2
1          1      4      1  2012-07-03 08:00:00      2
2          2      6      0  2012-07-03 18:00:00      2
3          3      7      1  2012-07-03 19:00:00      2
4          4      8      1  2012-07-03 10:00:00      1
...      ...    ...    ...                  ...    ...
4038    4038      8     29  2012-09-30 16:30:00      2
4039    4039      8     29  2012-09-30 18:00:00      1
4040    4040      8     21  2012-09-30 18:30:00      1
4041    4041      8     16  2012-09-30 19:00:00      1
4042    4042      8     29  2012-09-30 19:30:00      1

[4043 rows x 5 columns]