In [2]:
from sqlalchemy import create_engine, inspect
import pandas as pd
import datetime as dt

engine = create_engine('sqlite:////Users/mlid/Desktop/SpringboardDS/SQLFiles Tier 2/sqlite_db_pythonsqlite.db')

In [77]:
with engine.connect() as con:
    rs=con.execute('SELECT m.firstname || " " || m.surname AS "RecBy",\
       e.firstname || " " || e.surname AS "Member" \
    FROM Members e\
    INNER JOIN Members m ON m.memid = e.recommendedby\
    ORDER BY RecBy')

            
    df=pd.DataFrame(rs.fetchall())
    print('******Q11**********\n',df)

******Q11**********
                 RecBy                   Member
0        Burton Tracy          Ponder Stibbons
1        Darren Smith          Janice Joplette
2        Darren Smith           Gerald Butters
3        Darren Smith             Charles Owen
4        Darren Smith               Jack Smith
5        Darren Smith           Anna Mackenzie
6         David Jones            Douglas Jones
7      Florence Bader         Ramnaresh Sarwin
8      Gerald Butters          Matthew Genting
9     Janice Joplette               Nancy Dare
10    Janice Joplette              David Jones
11     Jemima Farrell            Timothy Baker
12     Jemima Farrell             David Pinker
13    Matthew Genting         Henrietta Rumney
14  Millicent Purview                John Hunt
15    Ponder Stibbons               Anne Baker
16    Ponder Stibbons           Florence Bader
17         Tim Rownam               Tim Boothe
18      Timothy Baker              Joan Coplin
19        Tracy Smith  Henry Worthington-Smyth
20        Tracy Smith        Millicent Purview
21        Tracy Smith            Erica Crumpet

In [136]:
with engine.connect() as con:
    rs=con.execute('SELECT Bookings.facid,\
    count(Bookings.memid) as "Booked" \
    FROM Bookings where Bookings.memid<>0 \
   group by Bookings.facid')

            
    df=pd.DataFrame(rs.fetchall())
    print('******Q12**********\n',df)

******Q12**********
    facid  Booked
0      0     308
1      1     276
2      2     344
3      3     385
4      4     421
5      5      27
6      6     195
7      7     421
8      8     783

In [141]:
with engine.connect() as con:
    rs=con.execute('SELECT Bookings.facid,\
    count(Bookings.memid) as "Booked", \
    strftime("%m", Bookings.starttime) as month\
    FROM Bookings where Bookings.memid<>0\
    group by Bookings.facid, month')

            
    df=pd.DataFrame(rs.fetchall())
    print('******Q13*********\n',df)

******Q13*********
     facid  Booked month
0       0      65    07
1       0     111    08
2       0     132    09
3       1      41    07
4       1     109    08
5       1     126    09
6       2      51    07
7       2     132    08
8       2     161    09
9       3      48    07
10      3     143    08
11      3     194    09
12      4      77    07
13      4     153    08
14      4     191    09
15      5       4    07
16      5       9    08
17      5      14    09
18      6      23    07
19      6      85    08
20      6      87    09
21      7      68    07
22      7     154    08
23      7     199    09
24      8     103    07
25      8     272    08
26      8     408    09