In [1]:
from sqlalchemy import create_engine, inspect
import pandas as pd
import datetime as dt

engine = create_engine('sqlite:////Users/mlid/Desktop/SpringboardDS/SQLFiles Tier 2/sqlite_db_pythonsqlite.db')

In [46]:
with engine.connect() as con:
    rs=con.execute('With revTable as (\
        SELECT \
            Facilities.name,\
        sum(CASE\
            WHEN Bookings.memid = 0 THEN Facilities.guestcost * Bookings.slots\
            ELSE Facilities.membercost * Bookings.slots \
        END) as totalRevenue\
        from Bookings\
        left join Facilities on Facilities.facid=Bookings.facid\
        left join Members on Members.memid=Bookings.memid\
        where(\
            case\
                when Bookings.memid=0 then Facilities.guestcost*Bookings.slots\
                else Facilities.membercost*slots\
                end)\
        group by name)\
        select name, totalRevenue\
        from revTable\
        where totalRevenue < 1000')
            
    df=pd.DataFrame(rs.fetchall())
    print('******Q10**********\n',df)

******Q10**********
             name  totalRevenue
0     Pool Table           270
1  Snooker Table           240
2   Table Tennis           180

In [48]:
with engine.connect() as con:
    rs=con.execute('SELECT m.surname || " " || m.firstname AS "RecBy",\
       e.surname || " " || e.firstname AS "Member" \
    FROM Members e\
    INNER JOIN Members m ON m.memid = e.recommendedby\
    ORDER BY RecBy')

            
    df=pd.DataFrame(rs.fetchall())
    print('******Q11**********\n',df)

******Q11**********
                 RecBy                   Member
0      Bader Florence         Sarwin Ramnaresh
1       Baker Timothy              Coplin Joan
2      Butters Gerald          Genting Matthew
3      Farrell Jemima            Baker Timothy
4      Farrell Jemima             Pinker David
5     Genting Matthew         Rumney Henrietta
6         Jones David            Jones Douglas
7     Joplette Janice               Dare Nancy
8     Joplette Janice              Jones David
9   Purview Millicent                Hunt John
10         Rownam Tim               Boothe Tim
11       Smith Darren          Joplette Janice
12       Smith Darren           Butters Gerald
13       Smith Darren             Owen Charles
14       Smith Darren               Smith Jack
15       Smith Darren           Mackenzie Anna
16        Smith Tracy  Worthington-Smyth Henry
17        Smith Tracy        Purview Millicent
18        Smith Tracy            Crumpet Erica
19    Stibbons Ponder               Baker Anne
20    Stibbons Ponder           Bader Florence
21       Tracy Burton          Stibbons Ponder

In [49]:
with engine.connect() as con:
    rs=con.execute('SELECT Bookings.facid, count(Bookings.memid) as "Booked" FROM Bookings where Bookings.memid<>0\
    group by Bookings.facid')

            
    df=pd.DataFrame(rs.fetchall())
    print('******Q12**********\n',df)

******Q12**********
    facid  Booked
0      0     308
1      1     276
2      2     344
3      3     385
4      4     421
5      5      27
6      6     195
7      7     421
8      8     783